include ../heading/heading

//-
  options.classes - Классы блока.
  options.id - ИД блока.
  options.label - Подпись поля.
  options.placeholder - Текст внутри поля, пока в нем отсутствует значение.
  options.value - Значение поля.
  options.type = "text" - Тип поля.
  options.name - Название input (атрибут name).
  options.readonly - Атрибут readonly.
  options.disabled - Атрибут disabled.
  options.subscription - Параметр, указывающий на то, что в поле должна быть кнопка подтверждения.

mixin input-text(options = {})
  -
    var {
      classes = '',
      id = false,
      placeholder = '',
      value = '',
      type = 'text',
      subscription = false,
      readonly = false,
      disabled = false,
      label = false,
    } = options;

  if subscription
    - classes += ' input-text_theme_subscription'

  
  label.input-text.js-input-text(
    class = classes, 
    id = id ? id : false
  )
    if label
      span.input-text__label
        +heading({
          text: label,
          classes: 'heading_small',
          tag: 'span',
        })
    input.input-text__field.js-input-text__field(
      value = value, 
      placeholder = placeholder, 
      type = type,
      name = name ? name : false,
      readonly = readonly ? "readonly" : false, 
      disabled = disabled ? "disabled" : false, 
    )
    
    if subscription
      button.input-text__submit(type = 'submit')