include ../input/input
include ../button/button
include ../list-counters/list-counters

//-
  options.classes - Классы блока.
  options.id - ИД блока.
  options.group - Группа выпадающих списков.
    Если задать этот параметр с одинаковым значением у нескольких списков,
    то при раскрытии одного списка все остальные из этой группы будут закрываться.
  options.inputParams - Параметры поля ввода.


mixin dropdown(options = {})
  -
    var {
      classes = '',
      id = false,
      text = '',
      group = false,
      inputParams = false,
      targetId = false,
    } = options;

  if inputParams
    if !inputParams.classes
      - inputParams.classes = 'input_in-dropdown'
    else
      - inputParams.classes += ' input_in-dropdown'


  div.dropdown.js-dropdown(
    class = classes, 
    id = id ? id : false
    data-group = group ? group : false,
    data-target = targetId ? targetId : false,
  )
    if inputParams
      div.dropdown__input-wrapper.js-dropdown__input-wrapper
        +input(inputParams)
        button.dropdown__arrow(type = 'button')
    else
      button.dropdown__btn.js-dropdown__btn(type = 'button')
        span.dropdown__btn-text #{text}
        span.dropdown__btn-arrow
    if !targetId
      div.dropdown__content
        div.dropdown__content-wrapper
          block