include ../input/input
include ../button/button
include ../input-number/input-number

mixin dropdown(options)
  if !options
    - options = {}

  if !options.classes
    - options.classes = ''
  
  if !options.id
    - options.id = ''

  if !options.group
    - options.group = ''

  if !options.input_params
    - options.input_params = {}

  if !options.input_params.classes
    - options.input_params.classes = 'input_in-dropdown'
  else
    - options.input_params.classes += ' input_in-dropdown'


  if options.input_params2
    - options.classes += ' dropdown_dual-date'
  else
  //-   - options.input_params2 = {}

  //- if !options.input_params2.classes
  //-   - options.input_params2.classes = 'input_in-dropdown'
  //- else
  //-   - options.input_params2.classes += ' input_in-dropdown'


  if !options.text_default
    - options.text_default = ''
  else
    - options.input_params.value = options.text_default

  if !options.text_one
    - options.text_one = ''

  if !options.text_many
    - options.text_many = ''


  div.dropdown.js-dropdown(
    class = options.classes, 
    id = options.id, 
    data-group = options.group, 
    data-default-text = options.text_default, 
    data-text-one = options.text_one, 
    data-text-many = options.text_many
  )
    if options.input_params2
      div.dropdown__input-dates-wrapper
        div.dropdown__input-wrapper.js-dropdown__input-wrapper
          +input(options.input_params)
          button.dropdown__arrow
        div.dropdown__input-wrapper.js-dropdown__input-wrapper
          +input(options.input_params2)
          button.dropdown__arrow
    else
      div.dropdown__input-wrapper.js-dropdown__input-wrapper
        +input(options.input_params)
        button.dropdown__arrow
        
    div.dropdown__content
      div.dropdown__content-wrapper
        if options.custom_content
          block
        else
          if options.array_counter
            each item, index in options.array_counter
              div.dropdown__counter.js-dropdown__counter
                span.dropdown__counter-label.js-dropdown__counter-label #{item.label}
                //- div.dropdown__counter-btns
                //-   button.dropdown__btn-less.js-dropdown__btn-less -
                //-   input.dropdown__counter-input.js-dropdown__counter-input(name = item.input_name ? item.input_name : '', value = item.value ? item.value : 0, readonly)
                //-   button.dropdown__btn-more.js-dropdown__btn-more +
                +input-number({
                  value: item.value ? item.value : 0,
                  name: item.input_name ? item.input_name : '',
                  min: 0
                })
            div.dropdown__btns-result
              div.dropdown__btn-reset.js-dropdown__btn-reset
                +button({text: "Очистить", theme: "button_gray"})
              div.dropdown__btn-submit.js-dropdown__btn-submit
                +button({text: "Применить"})