@import '@/theme/variables.scss';

.dropdown {
  position: relative;

  .dropdown__input-wrapper {
    position: relative;
    cursor: pointer;

    * {
      cursor: pointer;
    }
  }

  .dropdown__arrow {
    position: absolute;
    bottom: 0;
    right: 0;
    width: calc_rem(44);
    height: calc_rem(44);
    background: none;
    border: 0;
    box-shadow: none;
    background-image: url(img/expand_more.svg);
    background-position: center;
    background-size: auto;
    background-repeat: no-repeat;
  }

  .dropdown__btn {
    background: none;
    box-shadow: none;
    border: none;
    color: $dark50;
    text-decoration: none;
    font-weight: 400;
    cursor: pointer;

    &-arrow {
      display: inline-block;
      background-image: url('img/expand_more.svg');
      background-repeat: no-repeat;
      background-position: center;
      background-size: 100% 100%;
      width: 12px;
      height: 8px;
      margin-left: 7px;
    }
  }

  .dropdown__content {
    position: absolute;
    width: 100%;
    top: calc(100% - 1px);
    left: 0;
    z-index: 1000;
    border: 1px solid $dark50;
    border-radius: 0 0 4px 4px;
    background-color: $white;
    max-height: 0;
    transition: max-height 0.3s;
    overflow: hidden;
    opacity: 0;
  }

  &.dropdown_header {
    .dropdown__content {
      border-radius: 4px;
      left: 50%;
      transform: translateX(-50%);
      max-width: 300%;
      width: auto;
    }
  }

  &.dropdown_dates {
    .dropdown__content {
      top: calc(100% + 5px);
      border: 0;
      width: min-content;
    }
  }

  &.dropdown_right-align {
    .dropdown__content {
      left: auto;
      right: 0;
    }
  }

  &.dropdown_active {
    &:not(.dropdown_dates) .input__field {
      border-color: $dark50;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }

    .dropdown__content {
      max-height: 370px;
      opacity: 1;
      overflow-y: auto;
    }

    &.dropdown_dates {
      .dropdown__content {
        max-height: 100vh;
        overflow: hidden;
      }
    }
  }

  &.dropdown_hidden {
    display: none;
  }
}
