include ../input/input
include ../button/button
include ../list-counters/list-counters

//-
  options.classes - Классы блока.
  options.id - ИД блока.
  options.group - Группа выпадающих списков.
    Если задать этот параметр с одинаковым значением у нескольких списков,
    то при раскрытии одного списка все остальные из этой группы будут закрываться.
  options.inputParams - Параметры поля ввода.
  options.inputParams2 - Параметры второго поля ввода.


mixin dropdown(options)
  if !options
    - options = {}

  if !options.classes
    - options.classes = ''
  
  if !options.id
    - options.id = ''

  if !options.group
    - options.group = ''

  if !options.inputParams
    - options.inputParams = {}

  if !options.inputParams.classes
    - options.inputParams.classes = 'input_in-dropdown'
  else
    - options.inputParams.classes += ' input_in-dropdown'


  if options.inputParams2
    - options.classes += ' dropdown_dual-date'


  div.dropdown.js-dropdown(
    class = options.classes, 
    id = options.id, 
    data-group = options.group
  )
    if options.inputParams2
      div.dropdown__input-dates-wrapper
        div.dropdown__input-wrapper.js-dropdown__input-wrapper
          +input(options.inputParams)
          button.dropdown__arrow(type = 'button')
        div.dropdown__input-wrapper.js-dropdown__input-wrapper
          +input(options.inputParams2)
          button.dropdown__arrow(type = 'button')
    else
      div.dropdown__input-wrapper.js-dropdown__input-wrapper
        +input(options.inputParams)
        button.dropdown__arrow(type = 'button')

    div.dropdown__content
      div.dropdown__content-wrapper
        block