include ../input/input
include ../button/button
include ../list-counters/list-counters

//-
  options.classes - Классы блока.
  options.id - ИД блока.
  options.group - Группа выпадающих списков.
    Если задать этот параметр с одинаковым значением у нескольких списков,
    то при раскрытии одного списка все остальные из этой группы будут закрываться.

mixin dropdown(options)
  if !options
    - options = {}

  if !options.classes
    - options.classes = ''
  
  if !options.id
    - options.id = ''

  if !options.group
    - options.group = ''

  if !options.input_params
    - options.input_params = {}

  if !options.input_params.classes
    - options.input_params.classes = 'input_in-dropdown'
  else
    - options.input_params.classes += ' input_in-dropdown'


  if options.input_params2
    - options.classes += ' dropdown_dual-date'
  else
  //-   - options.input_params2 = {}

  //- if !options.input_params2.classes
  //-   - options.input_params2.classes = 'input_in-dropdown'
  //- else
  //-   - options.input_params2.classes += ' input_in-dropdown'


  if !options.text_default
    - options.text_default = ''
  else
    - options.input_params.value = options.text_default


  div.dropdown.js-dropdown(
    class = options.classes, 
    id = options.id, 
    data-group = options.group
  )
    if options.input_params2
      div.dropdown__input-dates-wrapper
        div.dropdown__input-wrapper.js-dropdown__input-wrapper
          +input(options.input_params)
          button.dropdown__arrow(type = 'button')
        div.dropdown__input-wrapper.js-dropdown__input-wrapper
          +input(options.input_params2)
          button.dropdown__arrow(type = 'button')
    else
      div.dropdown__input-wrapper.js-dropdown__input-wrapper
        +input(options.input_params)
        button.dropdown__arrow(type = 'button')

    div.dropdown__content
      div.dropdown__content-wrapper
        block