//-
  options.classes - Классы блока.
  options.id - ИД блока.
  options.username - Имя пользователя. Если этот параметр не указан, 
    то вместо имени будут находиться кнопки входа и регастрации.
  options.buttonLoginText - Текст кнопки входа.
  options.buttonLoginHref - Ссылка кнопки входа.
  options.buttonRegText - Текст кнопки регистрации.
  options.buttonRegHref - Ссылка кнопки регистрации.
  options.menuItems - Пукнты главного меню сайта.
  options.menuItems[0].href - Ссылка на страницу.
  options.menuItems[0].name - Текст пункта меню.
  options.menuItems[0].subitems - Массив подпунктов.

mixin curtain(options)
  if !options
    - options = {}

  if !options.classes
    - options.classes = ''


  aside.curtain(
    class = options.classes,
    id = options.id ? options.id : false
  )
    div.curtain__content-wrapper.scrollbar.js-scrollbar.scrollbar_catalina
      div.curtain__top
        if !options.username
          div.curtain__btn-wrapper.curtain_mb15
            +button({
              text: options.buttonLoginText, 
              classes: 'button_outline button_size-md button_wide',
              href: options.buttonLoginHref ? options.buttonLoginHref : false
            })
          div.curtain__btn-wrapper.curtain_mb15
            +button({
              text: options.buttonRegText, 
              classes: 'button_fill button_size-md button_wide',
              href: options.buttonRegHref ? options.buttonRegHref : false
            })
        else
          a.curtain__username #{options.username}
      
      div.curtain__middle
        nav.curtain__main-menu
          each val, index in options.menuItems
            li.curtain__main-menu-item
              a.curtain__main-menu-link(href = val.href)= val.name
                if val.subitems
                  img.curtain__main-menu-arrow(src = require('@/components/curtain/img/expand_more_green.svg').default, alt = "", role = "presentation")