//-
  options.classes - Классы блока.
  options.id - ИД блока.
  options.page = 1 - Текущая страница.
  options.perpage = 10 - Количество элементов на странице.
  options.elements - Общее количество элементов.
  options.text - Текст.

mixin pagination(options = {})
  -
    const {
      classes = '',
      id = false,
      page = 1,
      perpage = 10,
      elements = 175,
      text = '',
    } = options;

  div.pagination.js-pagination(
    class = classes,
    id = id ? id : false
    data-page = page, 
    data-perpage = perpage, 
    data-elements = elements
  )
    div.pagination__wrapper.js-pagination__wrapper
    p.pagination__text
      span.pagination__output.js-pagination__output 1 - 12 из 100+ 
      span #{text}