extends ../../shared/base/base.pug

include ../../components/header/header
include ../../components/footer/footer
include ../../components/first-display/first-display
include ../../components/form/site-login/site-login

block headTags
  -
    const {
      title = '',
      description = '',
      keywords = '',
    } = htmlWebpackPlugin.options.getData();
  title #{title}
  meta(name='description', content = description)
  meta(name='keywords', content = keywords)

block header
  +header()

block content
  - data = htmlWebpackPlugin.options.getData()
  - data.firstDisplayOptions.bgUrl = require('@/pages/login/img/' + data.firstDisplayOptions.bgUrl).default
  -
    const {
      formOptions = {},
      firstDisplayOptions = {},
    } = data;

  +first-display(firstDisplayOptions)
    +site-login(formOptions)

block footer
  +footer(dataFooter)