@import '@/theme/variables.scss';

.input-number {
  display: inline-flex;
  align-items: center;

  &__btn-less,
  &__btn-more,
  &__input {
    width: calc_rem(30);
    height: calc_rem(30);
    text-align: center;
  }

  &__input {
    font-weight: 700;
    font-size: calc_rem(12);
    text-transform: uppercase;
    line-height: 1.25;
    padding: 0 3px;
    border: 0;
    background: none;
    -moz-appearance: textfield;

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      display: none;
    }
  }

  &__btn-less,
  &__btn-more {
    border-radius: 100vh;
    border: 1px solid $dark25;
    background: $white;
    line-height: calc_rem(30);
    color: $dark25;
    cursor: pointer;
  }

  &_disabled-btn {
    opacity: 0.38;
  }
}
