//-
  options.classes - Классы блока.
  options.id - ИД блока.
  options.min - Минимальное значение.
  options.max - Максимальное значение.
  options.step = 1 - Шаг изменения значение.
  options.value = 0 - Значение поля.
  options.name - Имя поля.

mixin input-number(options = {})
  -
    const {
      classes = '',
      id = false,
      min = '',
      max = '',
      step = 1,
      value = 0,
      name = '',
    } = options;

  div.input-number.js-input-number(
    class = classes,
    id = id ? id : false
  )
    button.input-number__btn-less.js-input-number__btn-less -
    input.input-number__input.js-input-number__input(
      name = name,
      value = value,
      max = max,
      min = min,
      step = step,
      type = 'number'
    )
    button.input-number__btn-more.js-input-number__btn-more +