//-
  options.classes - Классы блока.
  options.id - ИД блока.
  options.min - Минимальное значение.
  options.max - Максимальное значение.
  options.step = 1 - Шаг изменения значение.
  options.value = 0 - Значение поля.
  options.name - Имя поля.

mixin input-number(options = {})
  -
    const {
      classes = '',
      id = false,
      min = false,
      max = false,
      step = 1,
      value = 0,
      name = '',
      readonly = false,
    } = options;

  div.input-number.js-input-number(
    class = classes,
    id = id ? id : false
  )
    button.input-number__btn-less.js-input-number__btn-less(type = 'button') -
    input.input-number__input.js-input-number__input(
      name = name,
      value = value,
      max = max ? max : false,
      min = min ? min : false,
      step = step,
      type = 'number',
      readonly = readonly ? 'readonly' : false,
    )
    button.input-number__btn-more.js-input-number__btn-more(type = 'button') +