//-
  options.classes - Классы блока.
  options.id - ИД блока.
  options.text - Текст радиокнопки.
  options.name - Название input (атрибут name).
  options.value - Значение input чекбокса (атрибут value).
  options.checked - Выбрана ли кнопка или нет (атрибут checked).

mixin radio(options)
  if !options
    - options = {}
  
  if !options.text
    - options.text = ''

  if !options.classes
    - options.classes = ''
  
  if !options.id
    - options.id = ''

  if !options.name
    - options.name = ''

  label.radio(class = classes, id = options.id)
    input.radio__input(
      type = "radio", 
      name = options.name, 
      checked = options.checked ? "checked" : false
    )
      
    div.radio__view
    if options.text
      div.radio__text #{options.text}