

mixin radio(options)
	if !options
		- options = {}
	
	if !options.text
		- options.text = ''

	if !options.classes
		- options.classes = ''
	
	if !options.id
		- options.id = ''

	if !options.name
		- options.name = ''

	label.radio(class = classes, id = options.id)
		if options.checked
			input(type = "radio", name = options.name, checked).radio__input
		else
			input(type = "radio", name = options.name).radio__input
			
		div.radio__view
		if options.text
			div.radio__text #{options.text}