include ../dropdown/dropdown
include ../air-datepicker/air-datepicker
include ../button/button
include ../card/card

//-
  options.classes - Классы блока.
  options.id - ИД блока.
  options.cardTitle - Заголовок.

mixin form-fast-select(options = {})
  -
    const {
      classes = '',
      id = false,
      cardTitle = 'Найдём номера под ваши пожелания',
    } = options;

  section.form-fast-select(
    class = classes,
    id = id ? id : false
  )
    +card({title: cardTitle})
      div.form-fast-select__dates-row
        div.form-fast-select__dates-col.form-fast-select_mb20
          +dropdown({
            classes: 'js-dropdown_form-fast-select-dates-result',
            group: 'formFastSelect',
            targetId: '#dropdown-datepicker2',
            inputParams: {
              label: "Прибытие",
              readonly: true,
              placeholder: "ДД.ММ.ГГГГ",
              classes: 'js-input_result-date-start',
            },
          })
        div.form-fast-select__dates-col.form-fast-select_mb20
          +dropdown({
            classes: 'js-dropdown_form-fast-select-dates-result dropdown_dates dropdown_right-align',
            group: 'formFastSelect',
            id: 'dropdown-datepicker2',
            inputParams: {
              label: "Выезд",
              readonly: true,
              placeholder: "ДД.ММ.ГГГГ",
              classes: 'js-input_result-date-end',
            },
          })
            +air-datepicker({
              classes: 'air-datepicker_inline',
              targetDropdown: '.js-dropdown_form-fast-select-dates-result',
            })

      div.form-fast-select__block-wrapper.form-fast-select_mb30
        +dropdown({
          group: 'formFastSelect',
          inputParams:{
            label: "Гости",
            readonly: true,
            value: "Сколько гостей",
          }
        })
          +list-counters({
            textDefault: "Сколько гостей",
            textOne: " гость",
            textMany: " гостей",
            arrayCounters: [
              {label: "Взрослые", inputName: ""},
              {label: "Дети", inputName: ""},
              {label: "Младенцы", inputName: ""}
            ]
          })

      +button({text: "Подобрать номер", classes: "button_fill button_arrow-left button_wide"})