//-
  options.classes - Классы блока.
  options.id - ИД блока.
  options.label - Подпись поля.
  options.placeholder - Текст внутри поля, пока в нем отсутствует значение.
  options.value - Значение поля.
  options.type = "text" - Тип поля.
  options.name - Название input (атрибут name).
  options.readonly - Атрибут readonly.
  options.disabled - Атрибут disabled.
  options.subscription - Параметр, указывающий на то, что в поле должна быть кнопка подтверждения.

mixin input(options = {})
  -
    var {
      classes = '',
      id = false,
      placeholder = '',
      value = '',
      type = 'text',
      subscription = false,
      readonly = false,
      disabled = false,
    } = options;

  if subscription
    - classes += ' input_subscription'

  
  label.input.js-input(
    class = classes, 
    id = id ? id : false
  )
    if label
      p.input__label #{label}
    input.input__field.js-input__field(
      value = value, 
      placeholder = placeholder, 
      type = type,
      name = name ? name : false,
      readonly = readonly ? "readonly" : false, 
      disabled = disabled ? "disabled" : false, 
    )
    
    if subscription
      button.input__submit(type = 'submit')