//-
	options.label - 
	options.placeholder - 
	options.value - 
	options.attrs - 
	options.classes - 
	options.id - 
	options.type - 

mixin input(options)
	if !options
		- options = {}
	
	if !options.placeholder
		- options.placeholder = ''

	if !options.value
		- options.value = ''
	
	if !options.classes
		- options.classes = ''

	if !options.id
		- options.id = ''

	if !options.type
		- options.type = 'text'

	if options.subscription
		- options.classes += ' input_subscription'

	
	label.input(class = options.classes, id = options.id)
		if options.label
			p.input__label #{options.label}
		input(value = options.value, placeholder = options.placeholder, type = options.type).input__field
		
		if options.subscription
			button.input__submit