//-
  options.classes - Классы блока.
  options.id - ИД блока.
  options.label - Подпись поля.
  options.placeholder - Текст внутри поля, пока в нем отсутствует значение.
  options.value - Значение поля.
  options.type = "text" - Тип поля.
  options.name - Название input (атрибут name).
  options.readonly - Атрибут readonly.
  options.disabled - Атрибут disabled.
  options.subscription - Параметр, указывающий на то, что в поле должна быть кнопка подтверждения.

mixin input(options)
  if !options
    - options = {}
  
  if !options.placeholder
    - options.placeholder = ''

  if !options.value
    - options.value = ''
  
  if !options.classes
    - options.classes = ''

  if !options.type
    - options.type = 'text'

  if options.subscription
    - options.classes += ' input_subscription'

  
  label.input.js-input(
    class = options.classes, 
    id = options.id ? options.id : false
  )
    if options.label
      p.input__label #{options.label}
    input.input__field.js-input__field(
      value = options.value, 
      placeholder = options.placeholder, 
      type = options.type,
      name = options.name ? options.name : false,
      readonly = options.readonly ? "readonly" : false, 
      disabled = options.disabled ? "disabled" : false, 
    )
    
    if options.subscription
      button.input__submit(type = 'submit')