@import '@/theme/variables.scss';

.input {
  display: block;
  position: relative;

  &__label {
    display: block;
    font-weight: 700;
    font-size: calc_rem(12);
    text-transform: uppercase;
    line-height: 1.25;
    padding-bottom: 5px;
  }

  &__field {
    border-radius: 4px;
    background: $white;
    border: 1px solid $dark25;
    font-size: calc_rem(14);
    line-height: 1.2857;
    padding: 12px 15px;
    min-height: calc_rem(44);
    width: 100%;
    color: $dark75;

    &::placeholder {
      color: $dark25;
    }

    &:hover,
    &:focus {
      border: 1px solid $dark50;
    }
  }

  &__submit {
    position: absolute;
    bottom: 0;
    right: 0;
    width: calc_rem(44);
    height: calc_rem(44);
    border: 0;
    border-radius: 0;
    box-shadow: none;
    background-color: transparent;
    background-image: url(img/arrow_forward.svg);
    background-position: center;
    background-size: auto;
    background-repeat: no-repeat;
    cursor: pointer;
  }

  &_subscription,
  &_in-dropdown {
    .input__field {
      padding-right: calc_rem(44);
    }
  }

  &_in-dropdown {
    .input__field {
      &::placeholder{
        color: $dark75;
      }
    }
  }
}
