@import '@/theme/variables.scss';

.input{
	&__label{
		display: block;
		font-weight: 700;
		font-size: calc_rem(12);
		text-transform: uppercase;
		line-height: 1.25;
		padding-bottom: 5px;
	}

	&__field{
		border-radius: 4px;
		background: $white;
		border: 1px solid $dark25;
		font-size: calc_rem(14);
		line-height: 1.2857;
		padding: 12px 15px;

		&:placeholder{
			color: $dark25;
		}
		&:hover, &:focus{
			border: 1px solid $dark50;
		}
	}
}