-
  const {
    commonDataHeader = false,
    commonDataFooter = false,
  } = htmlWebpackPlugin.options.getData('shared/base/data.json');

include ../../components/layout/layout
include ../../components/header/header
include ../../components/footer/footer


doctype html
html(lang='ru')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='mask-icon', color='#bc9cff', href=require('@/components/logo/img/logo-mini.svg').default)
    block headTags
  
  body.page
    div.page__content-wrapper.js-page__content-wrapper
      block content

      block footer
        +footer({
          classes: dataFooter.classes,
          menuItems: dataFooter.footerItems,
          mainText: dataFooter.mainText,
          subscriptionText: dataFooter.subscriptionText,
          subscriptionHeading: dataFooter.subscriptionHeading,
          copyrightText: dataFooter.copyrightText
        })