include ../like-btn/like-btn

//-
  options.classes - Классы блока.
  options.id - ИД блока.
  options.avatar - Фотография человека, оставивший отзыв.
  options.isLike = false - Поставил ли лайк пользователь, который просматривает данный отзыв.
  options.username = 'Anonymous' - Имя пользователя, написавший отзыв.
  options.timeLater = 'несколько секунд назад' - Сколько времени прошло после написания отзыва.
  options.textReview - Текст отзыва.
  options.countLike = 0 - Количество лайков.

mixin review(options)
  if !options
    - options = {}

  if !options.classes
    - options.classes = ''

  if !options.avatar
    - options.avatar = require('@/components/review/img/photo-example.jpg').default

  if !options.isLike
    - options.isLike = false
  
  if !options.countLike
    - options.countLike = '0'

  if !options.username
    - options.username = 'Anonymous'

  if !options.timeLater
    - options.timeLater = 'несколько секунд назад'

  if !options.textReview
    - options.textReview = ''

  article.review(
    class = options.classes,
    id = options.id ? options.id : false
  )
    header.review__header
      div.review__avatar-wrapper
        img.review__avatar(src = options.avatar, alt = 'Фото ' + options.username)
      div.review__header-text
        p.review__username #{options.username}
        p.review__time
          time #{options.timeLater}
    div.review__content
      div.review__like-wrapper
        +like-btn({value: options.countLike, isLike: options.isLike})
      p.review__text #{options.textReview}