@import '@/theme/variables.scss';

.review {
  &__avatar-wrapper,
  &__like-wrapper {
    flex-shrink: 0;
    width: calc_rem(48);
    margin-right: 10px;
  }

  &__avatar-wrapper {
    display: block;
    position: relative;
    height: calc_rem(48);
    border: 2px solid $white;
    box-sizing: border-box;
    box-shadow: 0 10px 20px $dark10;
    border-radius: 100vh;
    overflow: hidden;
  }

  &__avatar {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: auto;
    min-width: 100%;
    height: auto;
    min-height: 100%;
  }

  &__header {
    display: flex;
    align-items: center;
    color: $dark75;
    margin-bottom: 10px;
  }

  &__username {
    font-weight: 700;
    margin: 0;
  }

  &__content {
    display: flex;
  }

  &__like-wrapper {
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }

  &__text {
    color: $dark75;
    margin: 0;
  }
}
