//-
  options.classes - Классы блока.
  options.id - ИД блока.
  options.items - Массив с текстом и иконками.
  options.items[0].src - Путь до иконки.
  options.items[0].title - Заголовок.
  options.items[0].text - Текст.
  options.items[0].line - Линия.

mixin infographic(options = {})
  -
    const {
      classes = '',
      id = false,
      items = [],
    } = options;

  ul.infographic(
    class = classes,
    id = id ? id : false
  )
    each item, index in items
      if (item.line)
        -const modifierItem = 'infographic__item_with-line'
      else
        -const modifierItem = ''

      li.infographic__item(class = modifierItem)
        if item.src
          div.infographic__icon-wrapper
            img.infographic__icon(
              src = item.src,
              alt = item.title,
            )
        div.infographic__text-wrapper
          p.infographic__title #{item.title}
          p.infographic__text #{item.text}

