@import '@/theme/variables.scss';

.infographic {
  &__item {
    display: flex;
    align-items: center;
    list-style: none;
    color: $dark75;

    &_with-line {
      padding-bottom: 20px;
      margin-bottom: 20px;
      border-bottom: 1px solid $dark10;
    }
  }

  &__image {
    flex: none;
    width: calc_rem(48);
    height: calc_rem(48);
    background-position: center;
    background-size: auto;
    background-repeat: no-repeat;
    margin-right: 10px;
  }

  &__icon-wrapper {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    flex: none;
    width: calc_rem(48);
    height: calc_rem(48);
    margin-right: 10px;
  }

  &__icon {
    max-width: 100%;
    max-height: 100%;
  }

  &__title {
    font-weight: 700;
  }
}
