@import '@/theme/variables.scss';

.chart{
	&__container{
		display: flex;
		align-items: flex-end;
		position: relative;
	}

	&__wrapper{
		width: 240px;
		position: relative;
		z-index: 1;
		margin-right: -91px;
	}

	&__picture{
		margin: 0 -60px;
	}

	&__count{
		position: absolute;
		top: 50%;
		left: 60px;
		transform: translate(-50%, -50%);
		z-index: -1;
		text-align: center;
		color: $purple;

		&-number{
			font-family: 'Quicksand', 'Montserrat', sans-serif;
			font-size: calc_rem(24);
			font-weight: 700;
			line-height: devide(30, 24);
		}

		&-text{
			font-size: calc_rem(12);
			font-weight: 700;
			line-height: devide(15, 12);
		}
	}

	&__legend{
		// position: absolute;
		// bottom: 0;
		// right: 0;

		&-item{
			display: flex;
			align-items: flex-start;
			line-height: 1.5;
		}
		
		&-icon{
			overflow: hidden;
			width: calc_rem(10);
			height: calc_rem(10);
			border-radius: 100vh;
			margin-right: 5px;
			margin-top: 4px;

			&_1{
				background: $gradient3;
			}
			&_2{
				background: $gradient2;
			}
			&_3{
				background: $gradient1;
			}
			&_4{
				background: $gradient4;
			}
		}

		&-text{
			font-size: calc_rem(14);
			color: $dark75;
		}
	}
}