extends ../../shared/base/base.pug

include ../../components/first-display/first-display
include ../../components/form/site-registration/site-registration

block headTags
  -
    const {
      title = '',
      description = '',
      keywords = '',
    } = htmlWebpackPlugin.options.getData();
  title #{title}
  meta(name='description', content = description)
  meta(name='keywords', content = keywords)

block content
  - data = htmlWebpackPlugin.options.getData();
  - data.firstDisplayOptions.bgUrl = require('@/pages/login/img/' + data.firstDisplayOptions.bgUrl).default;
  -
    const {
      dataHeader = commonDataHeader,
      dataFooter = commonDataFooter,
      formOptions = {},
      firstDisplayOptions = {},
    } = data;

  +header({
    menuItems: dataHeader.menuItems, 
    buttonLoginText: dataHeader.loginText,
    buttonLoginHref: dataHeader.loginHref,
    buttonRegText: dataHeader.regText,
    buttonRegHref: dataHeader.regHref
  })

  main.page__main
    +first-display(firstDisplayOptions)
      div.first-display__form-wrapper
        +site-registration(formOptions)