include ../rate-btn/rate-btn

mixin card-product(options)
	if !options
		- options = {}

	if !options.classes
		- options.classes = ''

	if !options.id
		- options.id = ''

	div.card-product(class = options.classes, id = options.id)
		div.card-product__gallery
			div.card-product__carousel.owl-carousel
				- for(var i = 0; i < 4; i++)
						div.card-product__img(style = 'background-image: url(' + require('@/components/card-product/img/example.jpg').default + ' );')
		div.card-product__content
			+rate-btn({value: 4})