@import '@/theme/variables.scss';
@import '~owl.carousel/dist/assets/owl.carousel.css';

.card-product{
	background: $white;
	border-radius: 4px;
	box-shadow: 0px 10px 20px $dark5;
	overflow: hidden;
	display: flex;
	flex-direction: column;

	&__gallery{
		position: relative;
		width: 100%;

		.owl-carousel{
			&:after,
			&:before{
				content: '';
				position: absolute;
				top: 0;
				left: 0;
				width: 42px;
				height: 100%;
				z-index: 1;
				background: linear-gradient(90deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 99.99%, rgba(255, 255, 255, 0) 100%);

				@media(min-width: $md){
					opacity: 0;
					transition: opacity .2s;
				}
			}
			&:before{
				left: auto;
				right: 0;
				transform: rotate(180deg);
			}
			
			.owl-nav{
				position: absolute;
				top: 50%;
				transform: translateY(-50%);
				left: 0;
				z-index: 2;
				width: 100%;

				@media(min-width: $md){
					opacity: 0;
					transition: opacity .2s;
				}

				.owl-prev, .owl-next{
					display: flex;
					align-items: center;
					justify-content: center;
					position: absolute;
					top: 50%;
					transform: translateY(-50%);
					width: calc_rem(44);
					height: calc_rem(44);

					span{
						width: calc_rem(8);
						height: calc_rem(13);
						background-image: url(img/expand_more.svg);
						background-position: center;
						background-repeat: no-repeat;
						background-size: cover;
						color: transparent;
					}
				}
				.owl-prev{
					left: 0;

					span{
						transform: rotate(180deg);
					}
				}
				.owl-next{
					right: 0;
				}
			}

			.owl-dots{
				position: absolute;
				right: 13px;
				bottom: 14px;
				z-index: 1;
				margin: 0 -2px;
				display: flex;

				.owl-dot{
					width: calc_rem(8);
					height: calc_rem(8);
					border: 1px solid $white;
					box-shadow: 0px 5px 5px $dark30;
					transition: .3s;
					margin: 0 2px;
					border-radius: 100vh;

					&.active{
						background-color: $white;
					}
				}
			}
		}

		&:hover{
			.owl-carousel:after,
			.owl-carousel:before,
			.owl-nav{
				opacity: 1;
			}
		}
	}

	&__img{
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
		padding-top: 56%;
	}

	&__content{
		padding: 17px 20px;
		height: 100%;
		display: flex;
		flex-direction: column;
	}

	&__content-top{
		display: flex;
		align-items: flex-end;
		justify-content: space-between;
		margin-left: -5px;
		margin-right: -5px;
		margin-bottom: 8px;
		position: relative;

		&:after{
			content: '';
			position: absolute;
			bottom: 0;
			left: 5px;
			width: calc(100% - 10px);
			height: 1px;
			background: $dark10;
		}

		&-left, &-right{
			padding: 0 5px 6px;
		}

		&-left{
			font-weight: 700;
		}

		&-symbol, &-number{
			font-family: 'Quicksand', 'Montserrat', sans-serif;
		}

		&-symbol{
			font-size: calc_rem(14);
		}

		&-number{
			font-size: calc_rem(19);
		}

		&-type{
			font-size: calc_rem(12);
			color: $purple;
			text-transform: uppercase;
		}

		&-right{
			color: $dark50;
			margin-bottom: 3px;
			text-align: right;
		}

		&-price{
			font-weight: 700;
			font-size: calc_rem(14);
		}

		&-price-type{
			font-size: calc_rem(12);
		}
	}


	&__content-bottom{
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin-left: -5px;
		margin-right: -5px;
		margin-top: auto;

		&-left, &-right{
			margin-left: 5px;
			margin-right: 5px;
			line-height: 1.2857;
		}
	}

	&__reviews-count-number, &__reviews-count-text{
		color: $dark50;
	}
	&__reviews-count-number{
		font-weight: 700;
	}
}