@import '@/theme/variables.scss';
@import '~owl.carousel/dist/assets/owl.carousel.css';

.card-product {
  background: $white;
  border-radius: 4px;
  box-shadow: 0 10px 20px $dark5;
  overflow: hidden;
  display: flex;
  flex-direction: column;

  &__gallery {
    position: relative;
    width: 100%;

    .owl-carousel {
      &::after,
      &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 42px;
        height: 100%;
        z-index: 1;
        background: linear-gradient(90deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 99.99%, rgba(255, 255, 255, 0) 100%);

        @media (min-width: $md) {
          opacity: 0;
          transition: opacity 0.2s;
        }
      }

      &::before {
        left: auto;
        right: 0;
        transform: rotate(180deg);
      }

      .owl-nav {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 0;
        z-index: 2;
        width: 100%;

        @media (min-width: $md) {
          opacity: 0;
          transition: opacity 0.2s;
        }

        .owl-prev,
        .owl-next {
          display: flex;
          align-items: center;
          justify-content: center;
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          width: calc_rem(44);
          height: calc_rem(44);

          span {
            width: calc_rem(8);
            height: calc_rem(13);
            background-image: url(img/expand_more.svg);
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            color: transparent;
          }
        }

        .owl-prev {
          left: 0;

          span {
            transform: rotate(180deg);
          }
        }

        .owl-next {
          right: 0;
        }
      }

      .owl-dots {
        position: absolute;
        right: 13px;
        bottom: 14px;
        z-index: 1;
        margin: 0 -2px;
        display: flex;

        .owl-dot {
          width: calc_rem(8);
          height: calc_rem(8);
          border: 1px solid $white;
          box-shadow: 0 5px 5px $dark30;
          transition: 0.3s;
          margin: 0 2px;
          border-radius: 100vh;

          &.active {
            background-color: $white;
          }
        }
      }
    }

    &:hover {
      .owl-carousel::after,
      .owl-carousel::before,
      .owl-nav {
        opacity: 1;
      }
    }
  }

  &__img-wrapper {
    display: block;
    position: relative;
    padding-top: 56%;
    overflow: hidden;
  }

  &__img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &__content {
    padding: 20px 15px;
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  &__room-info {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    flex-wrap: wrap;
    position: relative;
    border-bottom: 1px solid $dark10;
  }

  &__room-name,
  &__room-price {
    padding: 0 5px 10px;
  }

  &__room-name {
    font-weight: 700;
  }

  &__symbol {
    font-size: calc_rem(14);
    line-height: 1.21;
    padding-right: 8px;
  }

  &__room-number {
    font-size: calc_rem(19);
    line-height: 1.21;
  }

  &__room-type {
    font-size: calc_rem(12);
    line-height: 1.25;
    color: $purple;
    text-transform: uppercase;
    padding-left: 8px;
  }

  &__room-price {
    color: $dark50;
    text-align: right;
  }

  &__room-number-price {
    font-weight: 700;
    font-size: calc_rem(14);
  }

  &__room-payment-period {
    font-size: calc_rem(12);
  }

  &__reviews-container {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: auto;
  }

  &__stars-wrapper,
  &__count-reviews-wrapper {
    padding: 6px 5px 0;
    line-height: 1.2857;
  }

  &__reviews-count-number,
  &__reviews-count-text {
    color: $dark50;
  }

  &__reviews-count-number {
    font-weight: 700;
  }

  &.card-product_max-height {
    height: 100%;
  }
}
