.radio {
  display: block;
  line-height: 0.6; }
  .radio__wrapper {
    display: inline-flex; }
  .radio__input {
    display: none; }
  .radio__view {
    position: relative;
    display: inline-block;
    width: 1.42857rem;
    height: 1.42857rem;
    border-radius: 100vh;
    background: #fff;
    border: 1px solid rgba(31, 32, 65, 0.25);
    transition: 0.2s;
    cursor: pointer;
    flex: none; }
    .radio__view::after {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 0.85714rem;
      height: 0.85714rem;
      background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
      border-radius: 100vh;
      opacity: 0;
      transition: 0.2s; }
  .radio__input:checked ~ .radio__view {
    border-color: #bc9cff; }
    .radio__input:checked ~ .radio__view::after {
      opacity: 1; }
  .radio__text {
    line-height: 1.28;
    font-size: 1rem;
    color: rgba(31, 32, 65, 0.5);
    padding-left: 10px;
    padding-top: 1px;
    transition: color 0.2s;
    cursor: pointer; }
  .radio__input:checked ~ .radio__view,
  .radio__input:checked ~ .radio__text {
    color: rgba(31, 32, 65, 0.75); }
  .radio__input:disabled ~ .radio__view,
  .radio__input:disabled ~ .radio__text {
    cursor: default; }

.room-search {
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.12);
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 40px 29px 30px; }
  @media (max-width: 400px) {
    .room-search {
      padding: 20px 9px 20px; } }
  .room-search__title-wrapper {
    margin-bottom: 20px; }
  .room-search__dates-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    justify-content: space-between;
    column-gap: 20px; }
  .room-search__input-dates-wrapper {
    margin-bottom: 20px; }
  .room-search__input-wrapper {
    margin-bottom: 30px; }

.site-registration {
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.12);
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 40px 29px 30px; }
  @media (max-width: 400px) {
    .site-registration {
      padding: 20px 9px 20px; } }
  .site-registration__title-wrapper {
    margin-bottom: 20px; }
  .site-registration__input-name, .site-registration__input-surname, .site-registration__input-email, .site-registration__input-password {
    margin-bottom: 10px; }
  .site-registration__input-date-birthday, .site-registration__toggle-subscription, .site-registration__btn-registration {
    margin-bottom: 20px; }
  .site-registration__subtitle-wrapper {
    margin-bottom: 5px; }
  .site-registration__genders {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px; }
  .site-registration__radio-wrapper {
    padding: 0 10px 4px 0; }
  .site-registration__footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap; }
    .site-registration__footer-text, .site-registration__footer-button {
      padding-top: 10px; }
    .site-registration__footer-text {
      padding-right: 10px; }

.site-login {
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.12);
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 40px 29px 30px; }
  @media (max-width: 400px) {
    .site-login {
      padding: 20px 9px 20px; } }
  .site-login__title-wrapper {
    margin-bottom: 20px; }
  .site-login__input-email {
    margin-bottom: 10px; }
  .site-login__title-wrapper, .site-login__input-password, .site-login__btn-login {
    margin-bottom: 20px; }
  .site-login__footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap; }
    .site-login__footer-text, .site-login__footer-button {
      padding-top: 10px; }
    .site-login__footer-text {
      padding-right: 10px; }

.guide-page {
  padding-top: 30px;
  padding-bottom: 69px; }
  .guide-page__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 0 72px;
    padding: 0 10px;
    max-width: 1180px;
    margin: 0 auto; }
    .guide-page__container_with-fixed-col {
      grid-template-columns: 380px 380px 320px;
      grid-gap: 0 30px; }
  .guide-page__col {
    padding-bottom: 100px; }
  .guide-page__color-item {
    display: flex;
    align-items: center;
    padding-bottom: 20px; }
  .guide-page__color-rect {
    width: 70px;
    height: 70px;
    border-radius: 6px;
    overflow: hidden;
    flex: none;
    margin-right: 40px; }
    .guide-page__color-rect_theme_dark {
      background-color: #1f2041; }
    .guide-page__color-rect_theme_dark75 {
      background-color: rgba(31, 32, 65, 0.75); }
    .guide-page__color-rect_theme_dark50 {
      background-color: rgba(31, 32, 65, 0.5); }
    .guide-page__color-rect_theme_dark30 {
      background-color: rgba(31, 32, 65, 0.3); }
    .guide-page__color-rect_theme_dark25 {
      background-color: rgba(31, 32, 65, 0.25); }
    .guide-page__color-rect_theme_dark5 {
      background-color: rgba(31, 32, 65, 0.05); }
    .guide-page__color-rect_theme_white {
      background-color: #fff; }
    .guide-page__color-rect_theme_purple {
      background-color: #bc9cff; }
    .guide-page__color-rect_theme_green {
      background-color: #6fcf97; }
    .guide-page__color-rect_theme_black {
      background-color: #000; }
  .guide-page__color-text {
    font-size: 1.35714rem;
    margin-top: 0;
    margin-bottom: 0; }
  .guide-page__gap_type_first {
    margin-bottom: 10px; }
  .guide-page__gap_type_second {
    margin-bottom: 16px; }
  .guide-page__gap_type_third {
    margin-bottom: 20px; }
  .guide-page__gap_type_fourth {
    margin-bottom: 30px; }
  .guide-page__gap_type_fifth {
    margin-bottom: 40px; }


/*# sourceMappingURL=guide.css.map*/