@font-face {
  font-family: 'montserrat';
  src:
    url(fonts/montserrat-bold-webfont.woff2) format('woff2'),
    url(fonts/montserrat-bold-webfont.woff) format('woff'),
    url(fonts/montserrat-bold-webfont.ttf) format('truetype'),
    url(fonts/montserrat-bold-webfont.svg#montserratbold) format('svg');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'montserrat';
  src:
    url(fonts/montserrat-regular-webfont.woff2) format('woff2'),
    url(fonts/montserrat-regular-webfont.woff) format('woff'),
    url(fonts/montserrat-regular-webfont.ttf) format('truetype'),
    url(fonts/montserrat-regular-webfont.svg#montserratregular) format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

html {
  font-size: 14px;
  min-height: 100vh;
  width: 100%;
  overflow-x: hidden; }

body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1rem;
  line-height: 1.7;
  width: 100%;
  overflow-x: hidden; }

h1,
.h1 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 1.71429rem;
  line-height: 1.25;
  margin: 0; }

h2,
.h2 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 1.35714rem;
  line-height: 1.25; }

h3,
.h3 {
  font-weight: 700;
  font-size: 0.85714rem;
  text-transform: uppercase;
  line-height: 1.25; }

.page {
  min-height: 100vh; }
  .page .page__content-wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    width: 100%;
    transition: transform 0.3s;
    transform: translateX(0); }
  .page .page__main {
    width: 100%;
    flex-grow: 1; }
  @media (max-width: 767px) {
    .page.page_shown-curtain .page__content-wrapper {
      transform: translateX(-272px); } }

.layout .layout__container {
  max-width: 1180px;
  margin: 0 auto;
  padding: 0 20px; }

.layout .layout__grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 0 40px; }

.header {
  background: #fff;
  width: 100%; }
  .header .header__container {
    display: grid;
    grid-template-areas: 'logo nav-menu btn1 btn2';
    align-items: center;
    grid-template-columns: auto 1fr auto auto auto auto;
    padding: 15px 10px;
    max-width: 1180px;
    margin: 0 auto; }
  .header .header__logo {
    grid-area: logo;
    display: flex; }
  .header .header__main-menu {
    grid-area: nav-menu;
    list-style: none;
    margin-left: auto; }
    .header .header__main-menu-link {
      color: rgba(31, 32, 65, 0.5);
      text-decoration: none;
      font-weight: 400;
      display: flex;
      align-items: center; }
    .header .header__main-menu-item {
      display: inline-block;
      padding: 0 9px; }
      @media (max-width: 767px) {
        .header .header__main-menu-item {
          display: none; } }
      .header .header__main-menu-item_activated,
      .header .header__main-menu-item_activated .header__main-menu-link {
        font-weight: 700; }
  .header .header__main-submenu {
    padding: 10px 20px 0; }
    .header .header__main-submenu-item {
      display: block;
      margin-bottom: 10px; }
  .header .header__btn-login {
    grid-area: btn1;
    padding-left: 18px;
    max-width: 250px; }
  .header .header__btn-signup {
    grid-area: btn2;
    padding-left: 20px;
    max-width: 250px; }
  .header .header__username {
    color: rgba(31, 32, 65, 0.5);
    padding-left: 30px;
    margin-left: 15px;
    position: relative;
    max-width: 250px; }
    .header .header__username::after {
      content: '';
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      height: 30px;
      width: 1px;
      background-color: rgba(31, 32, 65, 0.1); }
  @media (max-width: 1199px) {
    .header .header__btn-login,
    .header .header__btn-signup,
    .header .header__username {
      display: none; } }
  .header .header__icon-btn {
    background: none;
    border: 0;
    box-shadow: none;
    width: auto;
    height: auto;
    display: inline-flex;
    cursor: pointer;
    margin-left: 20px; }
    @media (min-width: 1199px) {
      .header .header__icon-btn_type_profile {
        display: none; } }
    @media (min-width: 767px) {
      .header .header__icon-btn_type_menu {
        display: none; } }

.logo {
  display: inline-flex; }
  .logo img,
  .logo svg {
    flex: none; }

.button {
  position: relative;
  background: none;
  border: none;
  font-family: 'Montserrat', sans-serif;
  font-size: 0.85714rem;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 1.25;
  color: #bc9cff;
  transition: 0.3s;
  text-align: center;
  cursor: pointer;
  text-decoration: none; }
  .button:hover {
    color: rgba(31, 32, 65, 0.5); }
  .button .button__text {
    position: relative;
    z-index: 2;
    text-decoration: none; }
  .button_filled_blue-green-gradient, .button_outlined {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: 0;
    border-radius: 100vh;
    color: #fff;
    padding: 0.35714rem 1.42857rem;
    min-height: 3.14286rem;
    overflow: hidden; }
    .button_filled_blue-green-gradient::before, .button_outlined::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
      transition: 0.3s; }
    .button_filled_blue-green-gradient:hover, .button_outlined:hover {
      color: #fff; }
      .button_filled_blue-green-gradient:hover::before, .button_outlined:hover::before {
        opacity: 0.5; }
  .button_outlined::after {
    content: '';
    position: absolute;
    top: 2px;
    left: 2px;
    width: calc(100% - 4px);
    height: calc(100% - 4px);
    background: #fff;
    border-radius: 100vh; }
  .button_outlined, .button_outlined:hover {
    color: #bc9cff; }
  .button_wide {
    width: 100%; }
  .button_theme_arrow {
    padding: 0.35714rem 2.5rem; }
    .button_theme_arrow::after {
      content: '';
      position: absolute;
      top: 50%;
      right: 10px;
      transform: translateY(-50%);
      background-image: url(img/components/button/img/arrow_forward.d4701dff7a6e939030dcf05d97a876b9.svg);
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      width: 18px;
      height: 18px; }
  .button_size_md {
    min-height: 2.42857rem; }

@charset "UTF-8";
.dropdown {
  position: relative; }
  .dropdown .dropdown__input-wrapper {
    position: relative;
    cursor: pointer; }
    .dropdown .dropdown__input-wrapper * {
      cursor: pointer; }
  .dropdown .dropdown__arrow {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 3.14286rem;
    height: 3.14286rem;
    background: none;
    border: 0;
    box-shadow: none;
    background-image: url(img/components/dropdown/img/expand_more.e85954bc6e43e8dff6e057cce6ab769e.svg);
    background-position: center;
    background-size: auto;
    background-repeat: no-repeat; }
  .dropdown .dropdown__btn {
    background: none;
    box-shadow: none;
    border: none;
    color: rgba(31, 32, 65, 0.5);
    text-decoration: none;
    font-weight: 400;
    cursor: pointer; }
    .dropdown .dropdown__btn-arrow {
      display: inline-block;
      background-image: url(img/components/dropdown/img/expand_more.e85954bc6e43e8dff6e057cce6ab769e.svg);
      background-repeat: no-repeat;
      background-position: center;
      background-size: 100% 100%;
      width: 12px;
      height: 8px;
      margin-left: 7px; }
  .dropdown .dropdown__content {
    position: absolute;
    width: 100%;
    top: calc(100% - 1px);
    left: 0;
    z-index: 1000;
    border: 1px solid rgba(31, 32, 65, 0.5);
    border-radius: 0 0 4px 4px;
    background-color: #fff;
    max-height: 0;
    transition: max-height 0.3s;
    overflow: hidden;
    opacity: 0; }
  .dropdown.dropdown_theme_plain .dropdown__content {
    border-radius: 4px;
    left: 50%;
    transform: translateX(-50%);
    max-width: 300%;
    width: auto; }
  .dropdown.dropdown_align_right .dropdown__content {
    left: auto;
    right: 0; }
  .dropdown.dropdown_dates .dropdown__content {
    top: calc(100% + 5px);
    border: 0;
    width: min-content; }
    @media (max-width: 330px) {
      .dropdown.dropdown_dates .dropdown__content {
        right: auto;
        left: 50%;
        transform: translateX(-50%); } }
  .dropdown.dropdown_aсtivated:not(.dropdown_dates) .input__field {
    border-color: rgba(31, 32, 65, 0.5);
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0; }
  .dropdown.dropdown_aсtivated .dropdown__content {
    max-height: 370px;
    opacity: 1;
    overflow-y: auto; }
  .dropdown.dropdown_aсtivated.dropdown_dates .dropdown__content {
    max-height: none; }
  .dropdown.dropdown_hidden {
    display: none; }

.input-text {
  display: block;
  position: relative; }
  .input-text .input-text__label {
    display: block;
    font-weight: 700;
    font-size: 0.85714rem;
    text-transform: uppercase;
    line-height: 1.25;
    padding-bottom: 5px; }
  .input-text .input-text__field {
    border-radius: 4px;
    background: #fff;
    border: 1px solid rgba(31, 32, 65, 0.25);
    font-size: 1rem;
    line-height: 1.2857;
    padding: 12px 15px;
    min-height: 3.14286rem;
    width: 100%;
    color: rgba(31, 32, 65, 0.75); }
    .input-text .input-text__field::placeholder {
      color: rgba(31, 32, 65, 0.25); }
    .input-text .input-text__field:hover, .input-text .input-text__field:focus {
      border: 1px solid rgba(31, 32, 65, 0.5); }
  .input-text .input-text__submit {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 3.14286rem;
    height: 3.14286rem;
    border: 0;
    border-radius: 0;
    box-shadow: none;
    background-color: transparent;
    background-image: url(img/components/input-text/img/arrow_forward.ae9e8d9bc1e9ad88ca1c02c3ccec6d5b.svg);
    background-position: center;
    background-size: auto;
    background-repeat: no-repeat;
    cursor: pointer; }
  .input-text.input-text_theme_subscription .input-text__field, .input-text.input-text_theme_dropdown .input-text__field {
    padding-right: 3.14286rem; }
  .input-text.input-text_theme_dropdown .input-text__field::placeholder {
    color: rgba(31, 32, 65, 0.75); }

.list-counters .list-counters__counter,
.list-counters .list-counters__btns-result {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap; }

.list-counters .list-counters__counter {
  margin: 7px 7px 7px 15px; }

.list-counters .list-counters__counter-label {
  font-weight: 700;
  font-size: 0.85714rem;
  text-transform: uppercase;
  line-height: 1.25; }

.list-counters .list-counters__input-number-wrapper {
  margin-left: auto; }

.list-counters .list-counters__btns-result {
  margin-top: 19px; }

.list-counters .list-counters__btn-reset,
.list-counters .list-counters__btn-submit {
  line-height: 1;
  padding-left: 15px;
  padding-right: 7px;
  padding-bottom: 13px; }

.list-counters .list-counters__btn-submit {
  margin-left: auto; }

.list-counters_hidden {
  display: none; }

.input-number {
  display: inline-flex;
  align-items: center; }
  .input-number .input-number__btn-less,
  .input-number .input-number__btn-more,
  .input-number .input-number__input {
    width: 2.14286rem;
    height: 2.14286rem;
    text-align: center; }
  .input-number .input-number__input {
    font-weight: 700;
    font-size: 0.85714rem;
    text-transform: uppercase;
    line-height: 1.25;
    padding: 0 3px;
    border: 0;
    background: none;
    -moz-appearance: textfield; }
    .input-number .input-number__input::-webkit-outer-spin-button, .input-number .input-number__input::-webkit-inner-spin-button {
      display: none; }
    .input-number .input-number__input:read-only {
      outline: none; }
  .input-number .input-number__btn-less,
  .input-number .input-number__btn-more {
    border-radius: 100vh;
    border: 1px solid rgba(31, 32, 65, 0.25);
    background: #fff;
    line-height: 2.14286rem;
    color: rgba(31, 32, 65, 0.25);
    cursor: pointer; }
  .input-number .input-number__btn_disabled {
    opacity: 0.38; }

.footer {
  background: #fff; }
  .footer_bordered_top {
    border-top: 1px solid rgba(31, 32, 65, 0.25); }
  .footer .footer__container,
  .footer .footer__bottom-content-wrapper {
    max-width: 1180px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
    padding-right: 10px; }
  .footer .footer__top-content {
    display: grid;
    grid-template-areas: 'col1 col2 col3 col4 col5';
    grid-template-columns: 3fr 2fr 2fr 2fr 3fr;
    padding: 100px 0;
    margin: 0 -20px; }
    @media (max-width: 992px) {
      .footer .footer__top-content {
        grid-template-areas: 'col1';
        grid-template-columns: 1fr;
        padding-top: 110px;
        padding-bottom: 0; } }
  .footer .footer__top-content-col {
    padding: 0 20px; }
    .footer .footer__top-content-col_first {
      grid-area: col1; }
      @media (max-width: 992px) {
        .footer .footer__top-content-col_first {
          max-width: 600px;
          margin-left: auto;
          margin-right: auto; } }
    .footer .footer__top-content-col_second {
      grid-area: col2; }
    .footer .footer__top-content-col_third {
      grid-area: col3; }
    .footer .footer__top-content-col_fourth {
      grid-area: col4; }
    .footer .footer__top-content-col_fifth {
      grid-area: col5; }
    @media (max-width: 992px) {
      .footer .footer__top-content-col_second, .footer .footer__top-content-col_third, .footer .footer__top-content-col_fourth, .footer .footer__top-content-col_fifth {
        display: none; } }
  .footer .footer__logo-wrapper {
    display: flex;
    margin-bottom: 20px; }
    @media (max-width: 992px) {
      .footer .footer__logo-wrapper {
        justify-content: center;
        margin-bottom: 18px; } }
  .footer .footer__title-wrapper {
    margin-top: 4px;
    margin-bottom: 23px; }
  .footer .footer__list {
    display: flex;
    flex-direction: column;
    align-items: flex-start; }
    .footer .footer__list-link {
      display: inline-block;
      text-decoration: none;
      color: rgba(31, 32, 65, 0.5);
      margin-bottom: 21px;
      line-height: 1.21; }
      .footer .footer__list-link:last-of-type {
        margin-bottom: 0; }
  .footer .footer__bottom-content {
    border-top: 1px solid rgba(31, 32, 65, 0.25);
    padding-top: 23px;
    padding-bottom: 23px; }
    @media (max-width: 992px) {
      .footer .footer__bottom-content {
        border: 0;
        padding-top: 0;
        padding-bottom: 110px; } }
  .footer .footer__bottom-content-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between; }
    @media (max-width: 992px) {
      .footer .footer__bottom-content-wrapper {
        justify-content: center; } }
  .footer .footer__text,
  .footer .footer__text-subscription,
  .footer .footer__text-copyright {
    color: rgba(31, 32, 65, 0.75); }
  .footer .footer__text,
  .footer .footer__text-subscription {
    margin-bottom: 20px; }
  @media (max-width: 992px) {
    .footer .footer__text {
      text-align: center;
      margin-bottom: 28px; } }
  @media (max-width: 992px) {
    .footer .footer__text-copyright {
      display: none; } }

.social-nets {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin: 0 -10px;
  padding: 0 3px; }
  .social-nets .social-nets__link {
    display: flex;
    margin: 0 10px; }
  .social-nets .social-nets__icon {
    flex: none; }

.heading {
  font-weight: 700;
  line-height: 1.25;
  margin: 0; }
  .heading.heading_large {
    font-size: 1.71429rem; }
  .heading.heading_middle {
    font-size: 1.35714rem; }
  .heading.heading_small {
    font-size: 0.85714rem;
    text-transform: uppercase; }

.curtain {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 272px;
  position: fixed;
  top: 0;
  right: 0;
  background-color: rgba(31, 32, 65, 0.75);
  z-index: 1000;
  transition: 0.3s;
  transform: translateX(100%); }
  .curtain.curtain_shown {
    transform: translateX(0); }
  .curtain .curtain__content-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: hidden;
    overflow-y: auto;
    width: 100%; }
  .curtain .curtain__top {
    padding: 15px 15px 0; }
  .curtain .curtain__top-btn-wrapper {
    margin-bottom: 15px; }
  .curtain .curtain__middle {
    padding: 15px; }
  .curtain .curtain__main-menu {
    list-style: none; }
    .curtain .curtain__main-menu .curtain__main-menu {
      padding-left: 15px;
      padding-top: 10px; }
    .curtain .curtain__main-menu-item {
      list-style: none;
      margin-bottom: 15px; }
      .curtain .curtain__main-menu-item:last-of-type {
        margin-bottom: 0; }
    .curtain .curtain__main-menu-link {
      color: #6fcf97;
      text-decoration: none; }
    .curtain .curtain__main-menu-arrow {
      margin-left: 10px; }
  .curtain .curtain__username {
    font-size: 1.28571rem;
    color: #6fcf97; }

.expander .expander__btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 0;
  background: none;
  box-shadow: none;
  width: 100%;
  min-height: 3.14286rem;
  cursor: pointer; }
  .expander .expander__btn-text {
    font-size: 0.85714rem;
    font-weight: 700;
    line-height: 1.25;
    text-transform: uppercase; }
  .expander .expander__btn-arrow {
    display: inline-block;
    width: 12px;
    height: 8px;
    background-image: url(img/components/expander/img/expand_more.c99f0476759197b756644745f0eb392b.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
    fill: rgba(31, 32, 65, 0.5);
    margin: 0 calc((3.14286rem - 12px) / 2);
    transform: rotate(0);
    transition: 0.3s;
    flex: none; }

.expander .expander__content {
  max-height: 0;
  overflow: hidden;
  transition: 0.3s; }

.expander.expander_activated .expander__btn-arrow {
  transform: rotate(-180deg); }

.expander.expander_activated .expander__content {
  max-height: 200vh; }

.expander.expander_theme_green .expander__btn {
  height: auto;
  min-height: auto;
  justify-content: flex-start; }
  .expander.expander_theme_green .expander__btn-arrow {
    background-image: url(img/components/expander/img/expand_more_green.96c2c680621a4ff21ab66b07adc14fe7.svg);
    margin: 0;
    margin-left: 6px; }
  .expander.expander_theme_green .expander__btn-text {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.7;
    color: #6fcf97;
    text-transform: none; }


/*# sourceMappingURL=guide~index~login~product~products~register.css.map*/