.guide-page {
  padding-bottom: 69px; }
  .guide-page .guide-page__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 0 72px;
    padding: 0 10px;
    max-width: 1180px;
    margin: 0 auto; }
    .guide-page .guide-page__container_theme_2 {
      grid-template-columns: 380px 380px 320px;
      grid-gap: 0 30px; }
  .guide-page .guide-page__col {
    padding-bottom: 100px; }
  .guide-page .guide-page__color-item {
    display: flex;
    align-items: center;
    padding-bottom: 20px; }
  .guide-page .guide-page__color-rect {
    width: 70px;
    height: 70px;
    border-radius: 6px;
    overflow: hidden;
    flex: none;
    margin-right: 40px; }
    .guide-page .guide-page__color-rect_theme_dark {
      background-color: #1f2041; }
    .guide-page .guide-page__color-rect_theme_dark75 {
      background-color: rgba(31, 32, 65, 0.75); }
    .guide-page .guide-page__color-rect_theme_dark50 {
      background-color: rgba(31, 32, 65, 0.5); }
    .guide-page .guide-page__color-rect_theme_dark30 {
      background-color: rgba(31, 32, 65, 0.3); }
    .guide-page .guide-page__color-rect_theme_dark25 {
      background-color: rgba(31, 32, 65, 0.25); }
    .guide-page .guide-page__color-rect_theme_dark5 {
      background-color: rgba(31, 32, 65, 0.05); }
    .guide-page .guide-page__color-rect_theme_white {
      background-color: #fff; }
    .guide-page .guide-page__color-rect_theme_purple {
      background-color: #bc9cff; }
    .guide-page .guide-page__color-rect_theme_green {
      background-color: #6fcf97; }
    .guide-page .guide-page__color-rect_theme_black {
      background-color: #000; }
  .guide-page .guide-page__color-text {
    font-size: 1.35714rem; }
  .guide-page .guide-page__gap_type_1 {
    margin-bottom: 10px; }
  .guide-page .guide-page__gap_type_2 {
    margin-bottom: 16px; }
  .guide-page .guide-page__gap_type_3 {
    margin-bottom: 20px; }
  .guide-page .guide-page__gap_type_4 {
    margin-bottom: 30px; }
  .guide-page .guide-page__gap_type_5 {
    margin-bottom: 40px; }

.radio {
  display: block;
  line-height: 0.6; }
  .radio .radio__wrapper {
    display: inline-flex; }
  .radio .radio__input {
    display: none; }
  .radio .radio__view {
    position: relative;
    display: inline-block;
    width: 1.42857rem;
    height: 1.42857rem;
    border-radius: 100vh;
    background: #fff;
    border: 1px solid rgba(31, 32, 65, 0.25);
    transition: 0.2s;
    cursor: pointer;
    flex: none; }
    .radio .radio__view::after {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 0.85714rem;
      height: 0.85714rem;
      background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
      border-radius: 100vh;
      opacity: 0;
      transition: 0.2s; }
  .radio .radio__input:checked ~ .radio__view {
    border-color: #bc9cff; }
    .radio .radio__input:checked ~ .radio__view::after {
      opacity: 1; }
  .radio .radio__text {
    line-height: 1.28;
    font-size: 1rem;
    color: rgba(31, 32, 65, 0.5);
    padding-left: 10px;
    padding-top: 1px;
    transition: color 0.2s;
    cursor: pointer; }
  .radio .radio__input:checked ~ .radio__view,
  .radio .radio__input:checked ~ .radio__text {
    color: rgba(31, 32, 65, 0.75); }
  .radio .radio__input:disabled ~ .radio__view,
  .radio .radio__input:disabled ~ .radio__text {
    cursor: default; }

.toggle {
  display: block;
  line-height: 0.6; }
  .toggle .toggle__wrapper {
    display: inline-flex; }
  .toggle .toggle__input {
    display: none; }
  .toggle .toggle__view {
    position: relative;
    display: inline-block;
    width: 2.85714rem;
    height: 1.42857rem;
    border-radius: 100vh;
    background: #fff;
    border: 1px solid rgba(31, 32, 65, 0.25);
    transition: 0.2s;
    cursor: pointer;
    flex: none; }
    .toggle .toggle__view::after {
      content: '';
      position: absolute;
      top: 50%;
      left: 0.28571rem;
      transform: translateY(-50%);
      width: 0.85714rem;
      height: 0.85714rem;
      background: rgba(31, 32, 65, 0.25);
      border-radius: 100vh;
      transition: left 0.2s; }
  .toggle .toggle__input:checked ~ .toggle__view {
    border-color: #bc9cff; }
    .toggle .toggle__input:checked ~ .toggle__view::after {
      left: calc(100% - 0.28571rem - 0.85714rem);
      background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%); }
  .toggle .toggle__text {
    line-height: 1.28;
    font-size: 1rem;
    color: rgba(31, 32, 65, 0.75);
    padding-left: 10px;
    padding-top: 1px;
    cursor: pointer; }
  .toggle .toggle__input:disabled ~ .toggle__view,
  .toggle .toggle__input:disabled ~ .toggle__text {
    cursor: default; }

.form-register .form-register__element-wrapper1 {
  margin-bottom: 10px; }

.form-register .form-register__element-wrapper2,
.form-register .form-register__gender-radio {
  margin-bottom: 20px; }

.form-register .form-register__element-wrapper3 {
  margin-bottom: 30px; }

.form-register .form-register__gender-radio {
  display: flex;
  flex-wrap: wrap;
  margin-left: -10px;
  margin-right: -10px; }

.form-register .form-register__radio-wrapper {
  padding: 0 10px 4px; }

.form-register .form-register__footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-left: -10px;
  margin-right: -10px;
  margin-bottom: -10px; }
  .form-register .form-register__footer-text, .form-register .form-register__footer-button {
    flex-grow: 1;
    padding: 0 10px 10px; }

.form-fast-select .form-fast-select__dates-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-left: -10px;
  margin-right: -10px; }

.form-fast-select .form-fast-select__dates-col {
  flex-basis: calc(50% - 20px);
  flex-grow: 1;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 20px;
  min-width: 150px; }

.form-fast-select .form-fast-select__input-wrapper {
  margin-bottom: 30px; }

.form-login .form-login__element-wrapper1 {
  margin-bottom: 10px; }

.form-login .form-login__element-wrapper2 {
  margin-bottom: 20px; }

.form-login .form-login__element-wrapper3 {
  margin-bottom: 30px; }

.form-login .form-login__footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-left: -10px;
  margin-right: -10px;
  margin-bottom: -10px; }
  .form-login .form-login__footer-text, .form-login .form-login__footer-button {
    padding: 0 10px 10px; }


/*# sourceMappingURL=guide.css.map*/