.first-display {
  min-height: 100vh;
  background-image: url(img/shared/img/first-display-bg.74eeb2bd331fb1911e8c60c038e9d437.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: column; }
  .first-display__content-wrapper {
    max-width: 1180px;
    width: 100%;
    margin: 0 auto;
    padding: 70px 10px 19px;
    flex-grow: 1;
    display: flex;
    flex-direction: column; }
  .first-display__form-wrapper {
    max-width: 27.14286rem;
    width: 100%; }
  .first-display__text {
    color: #1f2041;
    max-width: 21.21429rem;
    text-align: right;
    margin: auto 0 0 auto; }
  .first-display_align-content_center .first-display__content-wrapper {
    align-items: center;
    justify-content: center;
    padding: 19px 10px 19px; }

.checkbox {
  display: block;
  line-height: 0.6; }
  .checkbox__wrapper {
    display: inline-flex; }
  .checkbox__input {
    display: none; }
  .checkbox__custom-input {
    position: relative;
    display: inline-block;
    width: 1.42857rem;
    height: 1.42857rem;
    border-radius: 4px;
    background: #fff;
    border: 1px solid rgba(31, 32, 65, 0.25);
    transition: 0.2s;
    flex: none;
    cursor: pointer; }
    .checkbox__custom-input::after {
      content: '';
      position: absolute;
      top: 3px;
      left: 4px;
      width: 10px;
      height: 11px;
      background-image: url(img/shared/img/check-icon.ad694aafe15811be341489a1dd946ba2.svg);
      background-position: center;
      background-size: auto;
      background-repeat: no-repeat;
      opacity: 0;
      transition: 0.2s; }
  .checkbox__input:checked ~ .checkbox__custom-input {
    border-color: #bc9cff; }
    .checkbox__input:checked ~ .checkbox__custom-input::after {
      opacity: 1; }
  .checkbox__text-wrapper {
    padding-left: 10px;
    cursor: pointer; }
  .checkbox__title {
    display: block;
    font-size: 1rem;
    font-weight: 700;
    color: rgba(31, 32, 65, 0.75);
    margin: 2px 0 5px;
    line-height: 1.2857; }
  .checkbox__text {
    display: block;
    line-height: 1.28;
    font-size: 1rem;
    color: rgba(31, 32, 65, 0.5);
    padding-top: 3px; }
  .checkbox__small-text {
    display: block;
    line-height: 1.16;
    font-size: 0.85714rem;
    color: rgba(31, 32, 65, 0.5); }
  .checkbox__input:disabled ~ .checkbox__custom-input,
  .checkbox__input:disabled ~ .checkbox__text-wrapper {
    cursor: default; }
  .checkbox.checkbox_type_toggle .checkbox__custom-input {
    width: 2.85714rem;
    height: 1.42857rem;
    border-radius: 100vh; }
    .checkbox.checkbox_type_toggle .checkbox__custom-input::after {
      content: '';
      position: absolute;
      top: 50%;
      left: 0.28571rem;
      transform: translateY(-50%);
      width: 0.85714rem;
      height: 0.85714rem;
      background: rgba(31, 32, 65, 0.25);
      border-radius: 100vh;
      opacity: 1;
      transition: left 0.2s; }
  .checkbox.checkbox_type_toggle .checkbox__input:checked ~ .checkbox__custom-input {
    border-color: #bc9cff; }
    .checkbox.checkbox_type_toggle .checkbox__input:checked ~ .checkbox__custom-input::after {
      left: calc(100% - 0.28571rem - 0.85714rem);
      background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%); }
  .checkbox.checkbox_type_toggle .checkbox__text {
    color: rgba(31, 32, 65, 0.75);
    padding-top: 1px;
    cursor: pointer; }

.radio {
  display: block;
  line-height: 0.6; }
  .radio__wrapper {
    display: inline-flex; }
  .radio__input {
    display: none; }
  .radio__view {
    position: relative;
    display: inline-block;
    width: 1.42857rem;
    height: 1.42857rem;
    border-radius: 100vh;
    background: #fff;
    border: 1px solid rgba(31, 32, 65, 0.25);
    transition: 0.2s;
    cursor: pointer;
    flex: none; }
    .radio__view::after {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 0.85714rem;
      height: 0.85714rem;
      background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
      border-radius: 100vh;
      opacity: 0;
      transition: 0.2s; }
  .radio__input:checked ~ .radio__view {
    border-color: #bc9cff; }
    .radio__input:checked ~ .radio__view::after {
      opacity: 1; }
  .radio__text {
    line-height: 1.28;
    font-size: 1rem;
    color: rgba(31, 32, 65, 0.5);
    padding-left: 10px;
    padding-top: 1px;
    transition: color 0.2s;
    cursor: pointer; }
  .radio__input:checked ~ .radio__view,
  .radio__input:checked ~ .radio__text {
    color: rgba(31, 32, 65, 0.75); }
  .radio__input:disabled ~ .radio__view,
  .radio__input:disabled ~ .radio__text {
    cursor: default; }

.site-registration {
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.12);
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 40px 29px 30px; }
  @media (max-width: 400px) {
    .site-registration {
      padding: 20px 9px 20px; } }
  .site-registration__title-wrapper {
    margin-bottom: 20px; }
  .site-registration__input-name, .site-registration__input-surname, .site-registration__input-email, .site-registration__input-password {
    margin-bottom: 10px; }
  .site-registration__input-date-birthday, .site-registration__toggle-subscription, .site-registration__btn-registration {
    margin-bottom: 20px; }
  .site-registration__subtitle-wrapper {
    margin-bottom: 5px; }
  .site-registration__genders {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px; }
  .site-registration__radio-wrapper {
    padding: 0 10px 4px 0; }
  .site-registration__footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap; }
    .site-registration__footer-text, .site-registration__footer-button {
      padding-top: 10px; }
    .site-registration__footer-text {
      padding-right: 10px; }



/*# sourceMappingURL=register.css.map*/