@import '@/theme/variables.scss';

.diagram {
  &__container {
    display: flex;
    align-items: flex-end;
    position: relative;
    flex-wrap: wrap;
  }

  &__chart-container {
    width: 150px;
    height: 124px;
    position: relative;
    z-index: 1;
  }

  &__chart {
    width: 248px;
    height: 124px;
    position: absolute;
    top: 0;
    left: 0;
  }

  &__picture {
    transform: translate(-64px, -1px);
  }

  &__count {
    position: absolute;
    top: 50%;
    left: 60px;
    transform: translate(-50%, -50%);
    z-index: -1;
    text-align: center;
    color: $purple;
    margin-bottom: 0;

    &-number {
      display: block;
      font-family: 'Montserrat', sans-serif;
      font-size: calc_rem(24);
      font-weight: 700;
      line-height: devide(30, 24);
      max-width: 95px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }

    &-text {
      display: block;
      font-size: calc_rem(12);
      font-weight: 700;
      line-height: devide(15, 12);
      text-transform: uppercase;
    }

    &-text,
    &-number {
      max-width: 95px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }

  &__legend {
    padding-right: 7px;
    padding-top: 10px;

    &-item {
      display: flex;
      align-items: flex-start;
      line-height: 1.5;
      margin-bottom: 3px;

      &:last-of-type {
        margin-bottom: 0;
      }
  
      &-icon {
        overflow: hidden;
        width: calc_rem(10);
        height: calc_rem(10);
        border-radius: 100vh;
        margin-right: 5px;
        margin-top: 4px;
        flex: none;
  
        &_theme_yellow {
          background: $gradient3;
        }
  
        &_theme_green {
          background: $gradient2;
        }
  
        &_theme_purple {
          background: $gradient1;
        }
  
        &_theme_gray {
          background: $gradient4;
        }
      }
  
      &-text {
        font-size: calc_rem(14);
        color: $dark75;
      }
    }
  }
}
