include ../button/button
include ../input/input
include ../radio/radio
include ../toggle/toggle
include ../card/card

//-
  options.classes - Классы блока.
  options.id - ИД блока.
  options.buttonLoginHref - Ссылка кнопки на страницу входа.

mixin form-register(options = {})
  -
    const {
      classes = '',
      id = false,
      buttonLoginHref = false,
    } = options;

  section.form-register(
    class = classes,
    id = id ? id : false
  )
    +card({title: "Регистрация аккаунта"})
      div.form-register_mb10
        +input({
          placeholder: "Имя"
        })
      div.form-register_mb10
        +input({
          placeholder: "Фамилия"
        })
      div.form-register__gender-radio.form-register_mb20
        +radio({text: "Мужчина", name: "gender", checked: true})
        +radio({text: "Женщина", name: "gender"})
      div.form-register_mb20
        +input({
          label: "Дата рождения",
          classes: "input_mask_date"
        })
      div.form-register_mb10
        +input({
          label: "Данные для входа в сервис",
          classes: "input_mask_email",
          placeholder: "Email"
        })
      div.form-register_mb10
        +input({
          type: "password",
          placeholder: "Пароль"
        })
      div.form-register_mb20
        +toggle({text: "Получать спецпредложения"})
      div.form-register_mb30
        +button({
          text: "Зарегистрироваться", 
          classes: "button_fill button_arrow-left button_wide",
          isSubmit: true
        })
      div.form-register__footer
        p.form-register__footer-text Уже есть аккаунт на Toxin
        div.form-register__footer-button
          +button({
            text: "Войти", 
            classes: "button_outline button_wide",
            href: buttonLoginHref ? buttonLoginHref : false
          })