include ../button/button
include ../input/input
include ../card/card

//-
  options.classes - Классы блока.
  options.id - ИД блока.
  options.buttonRegHref - Ссылка кнопки на страницу регистрации.

mixin form-login(options)
  if !options
    - options = {}

  if !options.classes
    - options.classes = ''

  if !options.id
    - options.id = ''

  div.form-login(class = options.classes, id = options.id)
    +card({title: "Войти"})
      div.form-login_mb10
        +input({
          classes: "input_mask-email",
          placeholder: "Email"
        })
      div.form-login_mb20
        +input({
          type: "password",
          placeholder: "Пароль"
        })

      div.form-login_mb30
        +button({
          text: "Войти", 
          classes: "button_fill button_arrow-left button_wide", 
          isSubmit: true
        })

      div.form-register__footer
        p.form-register__footer-text Нет аккаунта на Toxin?
        div.form-register__footer-button
          +button({
            text: "Создать", 
            classes: "button_outline",
            href: options.buttonRegHref ? options.buttonRegHref : false
          })