include ../button/button
include ../input-text/input-text
include ../card/card

//-
  options.classes - Классы блока.
  options.id - ИД блока.
  options.buttonRegHref - Ссылка кнопки на страницу регистрации.

mixin form-login(options = {})
  -
    const {
      classes = '',
      id = false,
      buttonRegHref = false,
    } = options;

  section.form-login(
    class = classes,
    id = id ? id : false
  )
    +card({title: "Войти"})
      div.form-login_mb10
        +input-text({
          classes: "input-text_mask_email",
          placeholder: "Email"
        })
      div.form-login_mb20
        +input-text({
          type: "password",
          placeholder: "Пароль"
        })

      div.form-login_mb30
        +button({
          text: "Войти", 
          classes: "button_filled_blue-green-gradient button_theme_arrow button_wide", 
          isSubmit: true
        })

      div.form-login__footer
        p.form-login__footer-text Нет аккаунта на Toxin?
        div.form-login__footer-button
          +button({
            text: "Создать", 
            classes: "button_outlined",
            href: buttonRegHref ? buttonRegHref : false
          })