@import '@/theme/variables.scss';

.form-login{

  &__footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: -10px;
    margin-right: -10px;
    
    &-text, &-button{
      margin: 0 10px;
    }
  }
}