//-
  options.classes - Классы блока.
  options.id - ИД блока.
  options.items - Массив пуктов списка.
  options.items[0] - Текст.

mixin list(options = {})
  -
    const {
      classes = '',
      id = false,
      items = [],
    } = options;

  ul.list(
    class = classes,
    id = id ? id : false
  )
    each val in items
      li.list__item #{val}