//-
  options.classes - Классы блока.
  options.id - ИД блока.
  options.items - Массив пуктов списка.
  options.items[0].text - Текст.
  options.items[0].href - Адрес ссылки.

mixin list(options = {})
  -
    const {
      classes = '',
      id = false,
      items = [],
    } = options;

  ul.list(
    class = classes,
    id = id ? id : false
  )
    each item in items
      if (item.href)
        li.list__item
          a.list__item-link(href = item.href) #{item.text || item.name}
      else
        li.list__item #{item.text || item.name}