mixin list(options)
	if !options
		- options = {}

	if !options.items
		- options.items = []

	if !options.classes
		- options.classes = ''
	
	if !options.id
		- options.id = ''


	ul.list(class = options.classes, id = options.id )
		each val in options.items
			li.list__item #{val}