@import '@/theme/variables.scss';

.site-login {
  background-color: $white;
  border: 1px solid rgba($black, 0.12);
  box-shadow: 0 0 25px rgba($black, 0.2);
  border-radius: 4px;
  padding: 40px 29px 30px;

  @media (max-width: 400px) {
    padding: 20px 9px 20px;
  }

  &__title-wrapper {
    margin-bottom: 20px;
  }

  &__input-email {
    margin-bottom: 10px;
  }

  &__title-wrapper,
  &__input-password,
  &__btn-login {
    margin-bottom: 20px;
  }

  &__footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;

    &-text,
    &-button {
      padding-top: 10px;
    }

    &-text {
      padding-right: 10px;
    }
  }
}
