include ../../button/button
include ../../input-text/input-text
include ../../heading/heading

//-
  options.classes - Классы блока.
  options.id - ИД блока.
  options.buttonRegHref - Ссылка кнопки на страницу регистрации.

mixin site-login(options = {})
  -
    const {
      classes = '',
      id = false,
      buttonRegHref = false,
    } = options;

  form.site-login(
    class = classes,
    id = id ? id : false
  )
    div.site-login__title-wrapper
      +heading({
        text: 'Войти',
        classes: 'heading_large',
        tag: 'h1',
      })
    div.site-login__input-email
      +input-text({
        classes: 'input-text_mask_email',
        placeholder: 'Email'
      })
    div.site-login__input-password
      +input-text({
        type: 'password',
        placeholder: 'Пароль'
      })

    div.site-login__btn-login
      +button({
        text: 'Войти', 
        classes: 'button_filled_blue-green-gradient button_theme_arrow button_wide', 
        type: 'submit'
      })

    div.site-login__footer
      p.site-login__footer-text Нет аккаунта на Toxin?
      div.site-login__footer-button
        +button({
          text: 'Создать', 
          classes: 'button_outlined',
          href: buttonRegHref ? buttonRegHref : false
        })