@import '@/theme/variables.scss';

.site-login {
  background-color: $white;
  border: 1px solid rgba($black, 0.12);
  box-shadow: 0 0 25px rgba($black, 0.2);
  border-radius: 4px;
  padding: 40px 29px 30px;

  @media (max-width: 400px) {
    padding: 20px 9px 20px;
  }

  & &__title-wrapper {
    margin-bottom: 20px;
  }

  & &__element-wrapper {
    &_type_first {
      margin-bottom: 10px;
    }

    &_type_second {
      margin-bottom: 20px;
    }

    &_type_third {
      margin-bottom: 30px;
    }
  }

  & &__footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-left: -10px;
    margin-right: -10px;
    margin-bottom: -10px;

    &-text,
    &-button {
      padding: 0 10px 10px;
    }
  }
}
