@import '@/theme/variables.scss';
@import '~simplebar/dist/simplebar.css';

.scrollbar {
  &.scrollbar_theme_catalina {
    .simplebar-scrollbar {
      &::before {
        border-radius: 0;
        background-color: $green;
      }
    }
  }

  &.scrollbar_theme_sierra {
    .simplebar-scrollbar {
      &::before {
        border-radius: 0;
        background-color: $dark;
      }
    }
  }
}
