//-
  options.classes - Классы блока.
  options.id - ИД блока.
  options.label - Подпись поля.
  options.min = 0 - Минимальное значение.
  options.max = 100 - Максимальное значение.
  options.val1 = options.min - Первое значение слайдера.
  options.val2 = options.max - Второе значение слайдера, если слайдер работает в режиме диапозона.
  options.textBottom - Дополнительный текст под слайдером.

mixin slider-range(options = {})
  -
    const {
      classes = '',
      id = false,
      text = false,
      label = '',
      min = 0,
      max = 100,
      val1 = min,
      val2 = max,
      textBottom = false,
    } = options;

  div.slider-range.js-slider-range(
    class = classes,
    id = id ? id : false
  )
    div.slider-range__top
      span.slider-range__label #{label}
      input.slider-range__input-result.js-slider-range__input-result(
        type = 'text',
        readonly
      )
    div.slider-range__slider.js-slider-range__slider(
      data-min = min,
      data-max = max, 
      data-val1 = val1, 
      data-val2 = val2
    )
    input.js-slider-range__min-val(
      type = 'hidden',
      name = 'min-val',
      value = val1,
    )
    input.js-slider-range__max-val(
      type = 'hidden',
      name = 'max-val',
      value = val2,
    )

    if textBottom
      p.slider-range__text-bottom #{textBottom}
