@import '@/theme/variables.scss';

.slider-range {
  $size: calc-rem(16);
  $border_width: 2px;

  &__label-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-bottom: 20px;
  }

  &__label {
    display: block;
    line-height: 1.7;
  }

  &__formatted-output {
    text-align: right;
    border: 0;
    box-shadow: none;
    color: $dark50;
    font-size: calc-rem(12);
    text-transform: uppercase;
    width: 45%;
    outline: none;
  }

  &__slider {
    width: calc(100% - #{$size} / 2 - (#{$border_width} * 2));
    margin: 0 calc(#{$size} / 2 - #{$border_width});
    background: $white;
    border-top: 1px solid $dark25;
    border-bottom: 1px solid $dark25;
    height: calc-rem(6);
    position: relative;

    &,
    .ui-slider-range,
    .ui-slider-handle {
      cursor: pointer;
    }

    &::after,
    &::before {
      content: '';
      position: absolute;
      top: -1px;
      height: calc-rem(6);
      width: calc(#{$size} / 2);
      border: 1px solid $dark25;
      background: $white;
    }

    &::after {
      left: calc(100% - 3px);
      border-radius: 0 100vh 100vh 0;
      border-left: 0;
    }

    &::before {
      right: calc(100% - 3px);
      border-radius: 100vh 0 0 100vh;
      border-right: 0;
    }

    &.ui-slider-horizontal .ui-slider-handle {
      top: 50%;
      transform: translateY(-50%);
      width: $size;
      height: $size;
      border: $border_width solid $white;
      border-radius: 100vh;
      background: $gradientGreen;
    }

    .ui-slider-range {
      top: -1px;
      height: calc(100% + 2px);
      background: $gradientGreen;
    }
  }

  &__text {
    color: $dark50;
    font-size: calc-rem(12);
    margin-top: 10px;
    margin-bottom: 0;
  }
}
