//-
  options.classes - Классы блока.
  options.id - ИД блока.
  options.label - Подпись поля.
  options.min = 0 - Минимальное значение.
  options.max = 100 - Максимальное значение.
  options.val1 = options.min - Первое значение слайдера.
  options.val2 = options.max - Второе значение слайдера, если слайдер работает в режиме диапозона.
  options.textBottom - Дополнительный текст под слайдером.

mixin slider-range(options)
  if !options
    - options = {}

  if !options.classes
    - options.classes = ''

  if !options.label
    - options.label = ''

  if !options.min
    - options.min = 0

  if !options.max
    - options.max = 100

  if !options.val1
    - options.val1 = options.min

  if !options.val2
    - options.val2 = options.max

  
  div.slider-range(
    class = options.classes,
    id = options.id ? options.id : false
  )
    div.slider-range__top
      span.slider-range__label #{options.label}
      input.slider-range__input(type="text")
    div.slider-range__slider(
      data-min = options.min, 
      data-max = options.max, 
      data-val1 = options.val1, 
      data-val2 = options.val2
    )

    if options.textBottom
      p.slider-range__text-bottom #{options.textBottom}
