include ../heading/heading

//-
  options.classes - Классы блока.
  options.id - ИД блока.
  options.label - Подпись поля.
  options.min = 0 - Минимальное значение.
  options.max = 100 - Максимальное значение.
  options.val1 = options.min - Первое значение слайдера.
  options.val2 = options.max - Второе значение слайдера, если слайдер работает в режиме диапозона.
  options.textBottom - Дополнительный текст под слайдером.

mixin slider-range(options = {})
  -
    const {
      classes = '',
      id = false,
      text = false,
      label = false,
      min = 0,
      max = 100,
      val1 = min,
      val2 = max,
      textBottom = false,
    } = options;

  div.slider-range.js-slider-range(
    class = classes,
    id = id ? id : false
  )
    div.slider-range__label-wrapper
      if label
        div.slider-range__label
          +heading({
            text: label,
            classes: 'heading_small',
            tag: 'span',
          })
      div.slider-range__formatted-output.js-slider-range__formatted-output
      
    div.slider-range__slider.js-slider-range__slider(
      data-min = min,
      data-max = max, 
      data-val1 = val1, 
      data-val2 = val2
    )
    input.slider-range__input-min-val.js-slider-range__input-min-val(
      type = 'hidden',
      name = 'min-val',
      value = val1,
    )
    input.slider-range__input-max-val.js-slider-range__input-max-val(
      type = 'hidden',
      name = 'max-val',
      value = val2,
    )

    if textBottom
      p.slider-range__text #{textBottom}
