@import '@/theme/variables.scss';

.form-room-search {
  background-color: $white;
  border: 1px solid rgba($black, 0.12);
  box-shadow: 0 0 25px rgba($black, 0.2);
  border-radius: 4px;
  padding: 40px 29px 30px;

  @media (max-width: 400px) {
    padding: 20px 9px 20px;
  }

  & &__title-wrapper {
    margin-bottom: 20px;
  }

  & &__dates-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: -10px;
    margin-right: -10px;
  }

  & &__dates-col {
    flex-basis: calc(50% - 20px);
    flex-grow: 1;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 20px;
    min-width: 150px;
  }

  & &__input-wrapper {
    margin-bottom: 30px;
  }
}
