@import '@/theme/variables.scss';

.filter-products {
  &__list-checkboxes-item {
    margin-bottom: 10px;
  }

  &__input-dates {
    margin-bottom: 20px;
  }

  &__input-number-guests,
  &__range-price,
  &__accessibility-checkboxes {
    margin-bottom: 29px;
  }

  &__rules-checkboxes {
    margin-bottom: 31px;
  }

  &__rules-subtitle {
    margin-bottom: 13px;
  }

  &__accessibility-subtitle,
  &__selection-amenities {
    margin-bottom: 15px;
  }

  &__list-checkboxes {
    list-style: none;
  }

  &__close {
    margin-bottom: 29px;

    @media (min-width: $md) {
      display: none;
    }
  }

  &.filter-products_mobile {
    @media (max-width: $md) {
      position: fixed;
      top: 0;
      left: 0;
      z-index: 1000;
      background-color: $white;
      width: 100%;
      height: 100vh;
      max-width: $xxs;
      transform: translateX(-100%);
      transition: transform 0.3s;

      @media (min-width: $xxs + 1px) {
        border-right: 1px solid $dark75;
      }

      &.filter-products_mobile_visible {
        transform: translateX(0);
      }

      .filter-products__content-wrapper {
        height: 100%;
        width: 100%;
        overflow: hidden;
        overflow-y: auto;
        padding: 20px $padding_container;
      }
    }
  }
}
