include ../dropdown/dropdown
include ../slider-range/slider-range
include ../checkbox/checkbox
include ../expander/expander
include ../air-datepicker/air-datepicker

//-
  options.classes - Классы блока.
  options.id - ИД блока.
  options.isMobile - Параметр, указывающий на то, что фильтр отображется и работает для моб. версии сайта.
  options.optionDropdownDates - Параметры для dropdown с календарем.
  options.optionDropdownDatesDatepicker - Параметры календаря.
  options.optionDropdownPeople - Параметры выпадающего списка гостей.
  options.optionSliderRange - Параметры слайдера диапозона цены.
  options.checkboxes - Массив простых чекбоксов.
  options.checkboxes[0] - Параметры чекбокса.
  options.checkboxesTitle - Заголовок массива простых чекбоксов.
  options.checkboxesBig - Массив чекбоксов с текстов и заголовком.
  options.checkboxesBig[0] - Параметры чекбокса.
  options.checkboxesBigTitle - Заголовок массива чекбоксов.
  options.optionDropdownFeature - Параметры выпадающегося списка удобств номеров.
  options.expanderFeatureOptions - Параметры раскрывающегося списка удобств номеров.
  options.expanderFeatureCheckboxes - Массив чекбоксов удобств номеров.

mixin filter-products(options = {})
  -
    const {
      classes = '',
      id = false,
      isMobile = false,
      optionDropdownDates = false,
      optionDropdownDatesDatepicker = {},
      optionDropdownPeople = false,
      optionSliderRange = false,
      checkboxes = false,
      checkboxesTitle = false,
      checkboxesBig = false,
      checkboxesBigTitle = false,
      optionDropdownFeature = false,
      expanderFeatureOptions = false,
      expanderFeatureCheckboxes = []
    } = options;

  aside.filter-products.js-filter-products(
    class = classes,
    id = id ? id : false,
    class = isMobile ? "filter-products_mobile" : false,
  )
    div.filter-products__content-wrapper
      if isMobile
        div.filter-products__close
          +button({
            classes: 'button_filled_blue-green-gradient button_size_md js-filter-products_hide-filter',
            text: 'Скрыть фильтр'
          })

      if optionDropdownDates
        - optionDropdownDates.group = 'filterProducts'
        div.filter-products__block-wrapper1
          +dropdown(optionDropdownDates)
            +air-datepicker(optionDropdownDatesDatepicker)

      if optionDropdownPeople
        - optionDropdownPeople.group = 'filterProducts'
        div.filter-products__block-wrapper2
          +dropdown(optionDropdownPeople)
            +list-counters(optionDropdownPeople)

      if optionSliderRange
        div.filter-products__block-wrapper2
          +slider-range(optionSliderRange)

      if checkboxes
        div.filter-products__block-wrapper3
          if checkboxesTitle
            h3.filter-products__block-wrapper5 #{checkboxesTitle}
          ul.filter-products__list-checkboxes
            each val, index in checkboxes
              li.filter-products__list-checkboxes-item
                +checkbox(val)

      if checkboxesBig
        div.filter-products__block-wrapper2
          if checkboxesBigTitle
            h3.filter-products__block-wrapper4 #{checkboxesBigTitle}
          ul.filter-products__list-checkboxes
            each val, index in checkboxesBig
              li.filter-products__list-checkboxes-item
                +checkbox(val)

      if optionDropdownFeature
        - optionDropdownFeature.type = 2
        - optionDropdownFeature.group = 'filterProducts'
        div.filter-products__block-wrapper4
          +dropdown(optionDropdownFeature)
            +list-counters(optionDropdownFeature)

      if expanderFeatureOptions
        +expander(expanderFeatureOptions)
          ul.filter-products__list-checkboxes
            each val, index in expanderFeatureCheckboxes
              li.filter-products__list-checkboxes-item
                +checkbox(val)