@import '@/theme/variables.scss';

.filter-products {
  &_mb10 {
    margin-bottom: 10px;
  }

  &_mb13 {
    margin-bottom: 13px;
  }

  &_mb16 {
    margin-bottom: 15px;
  }

  &_mb20 {
    margin-bottom: 20px;
  }

  &_mb30 {
    margin-bottom: 29px;
  }

  &_mb31 {
    margin-bottom: 31px;
  }

  .filter-products__close{
    @media (min-width: $md){
      display: none;
    }
  }

  &.filter-products_mob-md {
    @media (max-width: $md) {
      position: fixed;
      top: 0;
      left: 0;
      z-index: 1000;
      background-color: $white;
      width: 100%;
      height: 100vh;
      max-width: $xxs;
      transform: translateX(-100%);
      transition: transform 0.3s;

      @media (min-width: $xxs + 1px) {
        border-right: 1px solid $dark75;
      }

      &.filter-products_mob-show {
        transform: translateX(0);
      }

      .filter-products__content-wrapper {
        height: 100%;
        width: 100%;
        overflow: hidden;
        overflow-y: auto;
        padding: 20px $padding_container;
      }
    }
  }
}
