include ../dropdown/dropdown
include ../slider-range/slider-range
include ../checkbox/checkbox
include ../collapse/collapse
include ../air-datepicker/air-datepicker

//-
  options.classes - Классы блока.
  options.id - ИД блока.
  options.isMobile - Параметр, указывающий на то, что фильтр отображется и работает для моб. версии сайта.
  options.option_dropdown_dates - Параметры для dropdown с календарем.
  options.option_dropdown_dates_datepicker - Параметры календаря.
  options.option_dropdown_people - Параметры выпадающего списка гостей.
  options.option_slider_range - Параметры слайдера диапозона цены.
  options.checkboxes - Массив простых чекбоксов.
  options.checkboxes[0] - Параметры чекбокса.
  options.checkboxes_title - Заголовок массива простых чекбоксов.
  options.checkboxes_big - Массив чекбоксов с текстов и заголовком.
  options.checkboxes_big[0] - Параметры чекбокса.
  options.checkboxes_big_title - Заголовок массива чекбоксов.
  options.option_dropdown_feature - Параметры выпадающегося списка удобств номеров.
  options.collapse_feature_options - Параметры раскрывающегося списка удобств номеров.

mixin filter-products(options)
  if !options
    - options = {}

  if !options.classes
    - options.classes = ''
  
  if !options.id
    - options.id = ''

  div.filter-products.js-filter-products(
    class = options.classes,
    id = options.id,
    class = options.isMobile ? "filter-products_mob-md" : false
  )
    div.filter-products__content-wrapper
      if options.isMobile
        div.filter-products__close.filter-products_mb30
          +button({
            classes: 'button_fill button_size-md products_filter-show js-filter-products_hide-filter',
            text: 'Скрыть фильтр'
          })

      if options.option_dropdown_dates
        div.filter-products_mb20
          +dropdown(options.option_dropdown_dates)
            +air-datepicker(options.option_dropdown_dates_datepicker)

      if options.option_dropdown_people
        div.filter-products_mb30
          +dropdown(options.option_dropdown_people)
            +list-counters(options.option_dropdown_people)

      if options.option_slider_range
        div.filter-products_mb30
          +slider-range(options.option_slider_range)

      if options.checkboxes
        div.filter-products_mb31
          if options.checkboxes_title
            h3.filter-products_mb13 #{options.checkboxes_title}
          each val, index in options.checkboxes
              div.filter-products_mb10
                +checkbox(val)

      if options.checkboxes_big
        div.filter-products_mb30
          if options.checkboxes_big_title
            h3.filter-products_mb16 #{options.checkboxes_big_title}
          each val, index in options.checkboxes_big
            div.filter-products_mb10
              +checkbox(val)

      if options.option_dropdown_feature
        - options.option_dropdown_feature.type = 2
        div.filter-products_mb16
          +dropdown(options.option_dropdown_feature)
            +list-counters(options.option_dropdown_feature)

      if options.collapse_feature_options
        +collapse(options.collapse_feature_options)
          each val, index in options.collapse_feature_checkboxes
            div.filter-products_mb10
              +checkbox(val)