include ../dropdown/dropdown
include ../slider-range/slider-range
include ../checkbox/checkbox
include ../collapse/collapse
include ../air-datepicker/air-datepicker

//-
  options.classes - Классы блока.
  options.id - ИД блока.
  options.isMobile - Параметр, указывающий на то, что фильтр отображется и работает для моб. версии сайта.
  options.optionDropdownDates - Параметры для dropdown с календарем.
  options.optionDropdownDatesDatepicker - Параметры календаря.
  options.optionDropdownPeople - Параметры выпадающего списка гостей.
  options.optionSliderRange - Параметры слайдера диапозона цены.
  options.checkboxes - Массив простых чекбоксов.
  options.checkboxes[0] - Параметры чекбокса.
  options.checkboxesTitle - Заголовок массива простых чекбоксов.
  options.checkboxesBig - Массив чекбоксов с текстов и заголовком.
  options.checkboxesBig[0] - Параметры чекбокса.
  options.checkboxesBigTitle - Заголовок массива чекбоксов.
  options.optionDropdownFeature - Параметры выпадающегося списка удобств номеров.
  options.collapseFeatureOptions - Параметры раскрывающегося списка удобств номеров.

mixin filter-products(options)
  if !options
    - options = {}

  if !options.classes
    - options.classes = ''
  
  if !options.id
    - options.id = ''

  div.filter-products.js-filter-products(
    class = options.classes,
    id = options.id,
    class = options.isMobile ? "filter-products_mob-md" : false
  )
    div.filter-products__content-wrapper
      if options.isMobile
        div.filter-products__close.filter-products_mb30
          +button({
            classes: 'button_fill button_size-md products_filter-show js-filter-products_hide-filter',
            text: 'Скрыть фильтр'
          })

      if options.optionDropdownDates
        div.filter-products__block-wrapper.filter-products_mb20
          +dropdown(options.optionDropdownDates)
            +air-datepicker(options.optionDropdownDatesDatepicker)

      if options.optionDropdownPeople
        div.filter-products__block-wrapper.filter-products_mb30
          +dropdown(options.optionDropdownPeople)
            +list-counters(options.optionDropdownPeople)

      if options.optionSliderRange
        div.filter-products__block-wrapper.filter-products_mb30
          +slider-range(options.optionSliderRange)

      if options.checkboxes
        div.filter-products__element.filter-products_mb31
          if options.checkboxesTitle
            h3.filter-products__element.filter-products_mb13 #{options.checkboxesTitle}
          each val, index in options.checkboxes
              div.filter-products__block-wrapper.filter-products_mb10
                +checkbox(val)

      if options.checkboxesBig
        div.filter-products__element.filter-products_mb30
          if options.checkboxesBigTitle
            h3.filter-products__element.filter-products_mb16 #{options.checkboxesBigTitle}
          each val, index in options.checkboxesBig
            div.filter-products__block-wrapper.filter-products_mb10
              +checkbox(val)

      if options.optionDropdownFeature
        - options.optionDropdownFeature.type = 2
        div.filter-products__block-wrapper.filter-products_mb16
          +dropdown(options.optionDropdownFeature)
            +list-counters(options.optionDropdownFeature)

      if options.collapseFeatureOptions
        +collapse(options.collapseFeatureOptions)
          each val, index in options.collapseFeatureCheckboxes
            div.filter-products__block-wrapper.filter-products_mb10
              +checkbox(val)