include ../../button/button
include ../../input-text/input-text
include ../../checkbox/checkbox
include ../../heading/heading

//-
  options.classes - Классы блока.
  options.id - ИД блока.
  options.buttonLoginHref - Ссылка кнопки на страницу входа.

mixin site-registration(options = {})
  -
    const {
      classes = '',
      id = false,
      buttonLoginHref = false,
    } = options;

  div.site-registration(
    class = classes,
    id = id ? id : false
  )
    div.site-registration__title-wrapper
      +heading({
        text: 'Регистрация аккаунта',
        classes: 'heading_large',
        tag: 'h1'
      })

    div.site-registration__element-wrapper.site-registration__element-wrapper_type_first
      +input-text({
        placeholder: "Имя"
      })

    div.site-registration__element-wrapper.site-registration__element-wrapper_type_first
      +input-text({
        placeholder: "Фамилия"
      })

    div.site-registration__gender-radio
      div.site-registration__radio-wrapper
        +checkbox({
          classes: "checkbox_type_radio",
          text: "Мужчина",
          name: "gender",
          type: "radio",
          checked: true,
        })
      div.site-registration__radio-wrapper
        +checkbox({
          classes: "checkbox_type_radio",
          text: "Женщина",
          name: "gender",
          type: "radio",
        })

    div.site-registration__element-wrapper.site-registration__element-wrapper_type_second
      +input-text({
        label: "Дата рождения",
        classes: "input-text_mask_date"
      })

    div.site-registration__element-wrapper.site-registration__element-wrapper_type_fourth
      +heading({
        text: 'Данные для входа в сервис',
        classes: 'heading_small',
      })
    div.site-registration__element-wrapper.site-registration__element-wrapper_type_first
      +input-text({
        classes: "input-text_mask_email",
        placeholder: "Email"
      })

    div.site-registration__element-wrapper.site-registration__element-wrapper_type_first
      +input-text({
        type: "password",
        placeholder: "Пароль"
      })

    div.site-registration__element-wrapper.site-registration__element-wrapper_type_second
      +checkbox({
        classes: "checkbox_type_toggle",
        text: "Получать спецпредложения",
      })

    div.site-registration__element-wrapper.site-registration__element-wrapper_type_third
      +button({
        text: "Зарегистрироваться", 
        classes: "button_filled_blue-green-gradient button_theme_arrow button_wide",
        type: 'submit'
      })

    div.site-registration__footer
      p.site-registration__footer-text Уже есть аккаунт на Toxin
      div.site-registration__footer-button
        +button({
          text: "Войти", 
          classes: "button_outlined button_wide",
          href: buttonLoginHref ? buttonLoginHref : false
        })