include ../button/button

//-
  options.classes - Классы блока.
  options.id - ИД блока.

mixin air-datepicker(options)
  if !options
    - options = {}

  if !options.classes
    - options.classes = ''

  div.air-datepicker.js-air-datepicker(
    class = options.classes,
    id = options.id ? options.id : false
  )
    div.air-datepicker__wrapper.js-air-datepicker__wrapper
    div.air-datepicker__btns
      div.air-datepicker__btn-wrapper.air-datepicker__btn-wrapper_clear.js-air-datepicker__btn-wrapper_clear
        +button({text: 'Очистить', classes: 'button_gray'})
      div.air-datepicker__btn-wrapper.air-datepicker__btn-wrapper_submit.js-air-datepicker__btn-wrapper_submit
        +button({text: 'Применить'})