@import '@/theme/variables.scss';
@import '~air-datepicker/dist/css/datepicker.css';

.air-datepicker{
  display: inline-block;
  padding: 20px 19px;
  background: $white;
  border: 1px solid $dark25;
  border-radius: 4px;
  width: calc_rem(320);

  @media(max-width: $sm){
    padding: 10px;
    width: calc_rem(302);
  }

  &__btns{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;
    line-height: 1;
  }

  .datepicker{
    border: 0;
    border-radius: 0;
    width: 100%;

    &--nav{
      border: 0;
      align-items: center;
      padding: 0;
      margin-bottom: 24px;
    }

    &--nav-action{
      width: calc_rem(17);
      height: calc_rem(18);
      position: relative;

      &:hover{
        background: none;
      }

      &:after{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-size: 100% 100%;
        background-repeat: no-repeat;
        background-position: center;
      }

      
      svg{
        display: none;
      }

      &[data-action="prev"]:after{
        background-image: url(img/arrow_forward.svg);
        transform: rotate(180deg);
      }
      &[data-action="next"]:after{
        background-image: url(img/arrow_forward.svg);
      }
    }

    &--nav-title{
      font-family: 'Quicksand', 'Open Sans', sans-serif;
      font-weight: 700;
      font-size: calc_rem(19);
      color: $dark;
      padding: 0;
      border-radius: 0;
      line-height: 1;

      &:hover{
        background: none;
      }
    }

    &--content{
      padding: 0;
    }

    &--days-names{
      margin: 0;
    }

    &--day-name{
      color: $purple;
      font-size: calc_rem(12);
      line-height: 1.25;
      font-weight: 700;
      text-transform: none;
      width: calc_rem(40);
      height: calc_rem(40);
    }

    &--cell-day{
      font-size: calc_rem(12);
      line-height: 1.25;
      color: $dark50;
      width: calc_rem(40);
      height: calc_rem(40);
      position: relative;
      background: none;

      &:after{
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        height: 100%;
        z-index: -1;
        border-radius: 100vh;
      }

      &.-other-month-{
        color: $dark25;
      }

      &.-range-from-, 
      &.-range-to-{
        color: $white;
        font-weight: 700;
        background: none;

        &:after{
          background: $gradient1;
        }
      }

      &.-range-from-, 
      &.-range-to-,
      &.-in-range-{
        &:before{
          content: '';
          position: absolute;
          top: 0;
          height: 100%;
          width: 100%;
          background: $gradient1;
          opacity: .25;
          z-index: -1;
        }
      }

      &.-range-from-{
        &:before{
          border-radius: 100vh 0 0 100vh;
        }
      }

      &.-range-to-{
        &:before{
          border-radius: 0 100vh 100vh 0;
        }
      }

      &.-current-{
        color: $white;
        font-weight: 700;

        &:after{
          background: $gradient2;
        }
      }
    }
  }
}