include ../button/button

//-
  options.classes - Классы блока.
  options.id - ИД блока.

mixin air-datepicker(options = {})
  -
    const {
      classes = '',
      id = false,
      targetDropdown = false,
    } = options;

  div.air-datepicker.js-air-datepicker(
    class = classes,
    id = id ? id : false,
    data-target-dropdown = targetDropdown ? targetDropdown : false
  )
    div.air-datepicker__wrapper.js-air-datepicker__wrapper
    div.air-datepicker__btns
      div.air-datepicker__btn-wrapper.air-datepicker__btn-wrapper_clear.js-air-datepicker__btn-wrapper_clear
        +button({text: 'Очистить'})
      div.air-datepicker__btn-wrapper.air-datepicker__btn-wrapper_submit.js-air-datepicker__btn-wrapper_submit
        +button({text: 'Применить'})