//-
  options.classes - Классы блока.
  options.id - ИД блока.
  options.src - Ссылка на логотип.
  options.href - Ссылка на главную страницу.

mixin logo(options = {})
  -
    const {
      classes = '',
      id = false,
      href = 'index.html',
      src = require('@/shared/img/logo.svg').default,
    } = options;

  a.logo(
    href = href, 
    class = classes, 
    id = id ? id : false
  )
    img(src = src, alt = "Toxin")