extends ../../shared/base/base.pug

include ../../components/header/header
include ../../components/first-display/first-display
include ../../components/form/room-search/room-search

block headTags
  -
    const {
      title = '',
      description = '',
      keywords = '',
    } = htmlWebpackPlugin.options.getData();
  title #{title}
  meta(name='description', content = description)
  meta(name='keywords', content = keywords)

block content
  -
    const {
      dataHeader = {},
      dataFooter = {},
      formOptions = {},
      textBottom = false,
    } = htmlWebpackPlugin.options.getData();

  +header({
    menuItems: dataHeader.menuItems, 
    buttonLoginText: dataHeader.loginText,
    buttonLoginHref: dataHeader.loginHref,
    buttonRegText: dataHeader.regText,
    buttonRegHref: dataHeader.regHref
  })

  main.page__main
    +first-display(data)
      div.first-display__form-wrapper
        +room-search(formOptions)
      if textBottom
        div.first-display__text-bottom #{textBottom}

  +footer(dataFooter)