extends ../base/base.pug

include ../../components/first-display/first-display
include ../../components/form-room-search/form-room-search

block headTags
  -
    const {
      title = "",
      discription = "",
      keywords = "",
    } = htmlWebpackPlugin.options.getData();
  title #{title}
  meta(name="discription", content = discription)
  meta(name="keywords", content = keywords)

block content
  -
    const {
      formOptions = {},
      textBottom = false,
    } = htmlWebpackPlugin.options.getData();

  +header({
    menuItems: dataHeader.menuItems, 
    buttonLoginText: dataHeader.loginText,
    buttonLoginHref: dataHeader.loginHref,
    buttonRegText: dataHeader.regText,
    buttonRegHref: dataHeader.regHref
  })

  main.page__main
    +first-display(data)
      div.first-display__form-wrapper
        +form-room-search(formOptions)
      if textBottom
        div.first-display__text-bottom #{textBottom}