extends ../../shared/base/base.pug

include ../../components/header/header
include ../../components/footer/footer
include ../../components/first-display/first-display
include ../../components/form/room-search/room-search

block headTags
  -
    const {
      title = '',
      description = '',
      keywords = '',
    } = htmlWebpackPlugin.options.getData();
  title #{title}
  meta(name='description', content = description)
  meta(name='keywords', content = keywords)

block header
  +header()

block content
  -
    const {
      formOptions = {},
      firstDisplayText = false,
    } = htmlWebpackPlugin.options.getData();

  +first-display({
    text: firstDisplayText,
  })
    +room-search(formOptions)

block footer
  +footer()
