extends ../base/base.pug

block content
	div.layout
		div.layout__container
			main.content
				h1 This one is the sub-section or widget title
				h2 Next one is the item title inside widgets
				h3 This is a label or CTA text
				p This is the body text which is used for most of the design, like paragraphs, lists, etc.

				h3 Buttons
				+button({text: "click me"})
				+button({text: "click me", theme: 'button_fill button_wide'})
				+button({text: "click me", theme: "outline"})
				+button({text: "click me", theme: "button_fill button_arrow-left"})