extends ../base/base.pug

block title
	| Guide

block content
	+header({menuItems: menuItems})

	div.guide-page
		div.guide-page__container
			div.guide-page__col
				div.guide-page__color-item
					div.guide-page__color-div.guide-page__color-div_dark
					div
						h2 Dark Shade 100%
						p.guide-page__color-text #1F2041
				div.guide-page__color-item
					div.guide-page__color-div.guide-page__color-div_dark75
					div
						h2 Dark Shade 75%
						p.guide-page__color-text #1F2041
				div.guide-page__color-item
					div.guide-page__color-div.guide-page__color-div_dark50
					div
						h2 Dark Shade 50%
						p.guide-page__color-text #1F2041
				div.guide-page__color-item
					div.guide-page__color-div.guide-page__color-div_dark25
					div
						h2 Dark Shade 25%
						p.guide-page__color-text #1F2041
				div.guide-page__color-item
					div.guide-page__color-div.guide-page__color-div_dark5
					div
						h2 Dark Shade 5%
						p.guide-page__color-text #1F2041
				div.guide-page__color-item
					div.guide-page__color-div.guide-page__color-div_purple
					div
						h2 Purple
						p.guide-page__color-text #BC9CFF
				div.guide-page__color-item
					div.guide-page__color-div.guide-page__color-div_green
					div
						h2 Green
						p.guide-page__color-text #6FCF97


			div.guide-page__col
			

			div.guide-page__col
				h1 This one is the sub-section or widget title
				div.guide-page__mb20
				h2 Next one is the item title inside widgets
				div.guide-page__mb20
				h3 This is a label or CTA text
				div.guide-page__mb20
				p This is the body text which is used for most of the design, like paragraphs, lists, etc.


			div.guide-page__col
				+input({label: "Text Field", placeholder: "Email"})
				div.guide-page__mb20
				+input({label: "Subscription Text Field", placeholder: "Email", subscription: true})


			div.guide-page__col
				h3 Checkbox buttons
				div.guide-page__mb16
				+checkbox({id: "test2", text: "Можно курить", checked: true})
				div.guide-page__mb10
				+checkbox({id: "test3", text: "Можно пригласить гостей (до 10 человек)"})
				div.guide-page__mb40

				h3 Radio Buttons
				div.guide-page__mb16
				+radio({id: "test4", text: "Мужчина", name: "gender", checked: true})
				div.guide-page__mb10
				+radio({id: "test5", text: "Женщина", name: "gender"})
				div.guide-page__mb40

				h3 Toggle
				div.guide-page__mb16
				+toggle({id: "test6", text: "Получать спецпредложения", name: "get", checked: true})
				div.guide-page__mb40


			div.guide-page__col
				h3 Buttons
				div.guide-page__mb16
				+button({text: "click me", theme: "button_fill"})
				div.guide-page__mb20
				+button({text: "click me", theme: "button_outline"})
				div.guide-page__mb20
				+button({text: "click me"})
				div.guide-page__mb20
				+button({text: "click me", theme: "button_fill button_arrow-left button_wide"})