@import '@/theme/global.scss';

.layout{
	&__container{
		max-width: $lg;
		margin: 0 auto;
	}
}


.header{
	display: grid;
	grid-template-areas:
		'logo nav btn1 btn2';
	align-items: center;
	background: $white;
	padding: 15px 0;

	&__logo{
		grid-area: logo;
		margin-right: auto;
	}
	&__main-menu{
		grid-area: nav;
		list-style: none;
		margin-left: auto;

		li{
			display: inline-block;
			padding: 0 15px;
		}
	}
	&__btn1{
		grid-area: btn1;
	}
	&__btn2{
		grid-area: btn2;
	}
}