@import '@/theme/variables.scss';

.guide-page {
  padding-top: 30px;
  padding-bottom: 69px;

  &__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 0 72px;
    padding: 0 $padding_container;
    max-width: $max_width_container;
    margin: 0 auto;

    &_with-fixed-col {
      grid-template-columns: 380px 380px 320px;
      grid-gap: 0 30px;
    }
  }

  &__col {
    padding-bottom: 100px;
  }

  &__color-item {
    display: flex;
    align-items: center;
    padding-bottom: $gutter/2;
  }

  &__color-rect {
    width: 70px;
    height: 70px;
    border-radius: 6px;
    overflow: hidden;
    flex: none;
    margin-right: $gutter;

    @each $name, $val in $colors {
      &_theme_#{$name} {
        background-color: $val;
      }
    }
  }

  &__color-text {
    font-size: calc_rem(19);
    margin-top: 0;
    margin-bottom: 0;
  }

  &__gap {
    &_type_first {
      margin-bottom: 10px;
    }

    &_type_second {
      margin-bottom: 16px;
    }

    &_type_third {
      margin-bottom: 20px;
    }

    &_type_fourth {
      margin-bottom: 30px;
    }

    &_type_fifth {
      margin-bottom: 40px;
    }
  }
}
