include ../heading/heading

//-
  options.classes - Классы блока.
  options.id - ИД блока.
  options.title - Заголовок карточки.

mixin card(options = {})
  -
    const {
      classes = '',
      id = false,
      title = false,
    } = options;

  div.card(
    class = classes,
    id = id ? id : false
  )
    if title
      div.card__title
        +heading({
          text: title,
          classes: 'heading_large',
          tag: 'h1',
        })
    block