//-
  options.classes - Классы блока.
  options.id - ИД блока.
  options.title - Заголовок карточки.

mixin card(options = {})
  -
    const {
      classes = '',
      id = false,
      title = false,
    } = options;

  div.card(
    class = classes,
    id = id ? id : false
  )
    if title
      h1.card__title #{title}
    block