$xxs: 320px;
$xs: 575px;
$sm: 767px;
$md: 991px;
$lg: 1199px;
$xl: 1440px;

// цвета
$dark: 	#1f2041;
$dark75: 	rgba(#1f2041, .75);
$dark50: 	rgba(#1f2041, .50);
$dark30: 	rgba(#1f2041, .30);
$dark25: 	rgba(#1f2041, .25);
$dark10: 	rgba(#1f2041, .1);
$dark5: 	rgba(#1f2041, .05);
$white: #fff;
$purple:#bc9cff;
$green:	#6fcf97;
$black:	#000;

$colors:(
	'dark'	: 	$dark,
	'dark75': 	$dark75,
	'dark50': 	$dark50,
	'dark30': 	$dark30,
	'dark25': 	$dark25,
	'dark5'	: 	$dark5,
	'white'	: 	$white,
	'purple': 	$purple,
	'green'	: 	$green,
	'black'	: 	$black,
);

// градиенты
$gradient1: linear-gradient(180deg, #{$purple} 0%, #8BA4F9 100%);
$gradient2: linear-gradient(180deg, #{$green} 0%, #66D2EA 100%);
$gradient3: linear-gradient(180deg, #FFE39C 0%, #FFBA9C 100%);
$gradient4: linear-gradient(180deg, #919191 0%, #3D4975 100%);

$font-size-base: 14;

$gutter: 40px;
$max_width_container: 1180px;
$padding_container: 10px;


@function calc_rem($val_px){
	$result: #{$val_px / $font-size-base + 'rem'};
	@return $result;
}


@function devide($num1, $num2){
	$result: $num1 / $num2;
	@return $result;
}