extends ../base/base.pug

include ../../components/form/room-reservation/room-reservation
include ../../components/infographics/infographics
include ../../components/review/review
include ../../components/list/list
include ../../components/chart/chart
include ../../components/heading/heading

block headTags
  -
    const {
      title = "",
      discription = "",
      keywords = "",
    } = htmlWebpackPlugin.options.getData();
  title #{title}
  meta(name="discription", content = discription)
  meta(name="keywords", content = keywords)

block content
  -
    const {
      gallery = false,
      optionsInfographics = false,
      chartCountAll = false,
      chartNumAwesome = false,
      chartNumGood = false,
      chartNumNotbad = false,
      chartNumDisappointed = false,
      reviews = false,
      rulesTitle = false,
      optionsRules = false,
      cancelTitle = false,
      cancelText = false,
      roomNumber = false,
      roomType = false,
      price = false,
      priceTime = false,
      listService = false,
      totalPrice = false,
    } = htmlWebpackPlugin.options.getData();

  - dataFooter.classes = 'footer_bordered_top';

  +header({
    menuItems: dataHeader.menuItems, 
    buttonLoginText: dataHeader.loginText,
    buttonLoginHref: dataHeader.loginHref,
    buttonRegText: dataHeader.regText,
    buttonRegHref: dataHeader.regHref
  })

  main.page__main
    div.product
      if gallery
        section.product__gallery
          if gallery[0]
            - gallery[0] = require('@/pages/product/img/' + gallery[0]).default
            div.product__gallery-item.product__gallery-item_first(
              style = "background-image: url(" + gallery[0] + ");"
            )
          if gallery[1]
            - gallery[1] = require('@/pages/product/img/' + gallery[1]).default
            div.product__gallery-item.product__gallery-item_second(
              style = "background-image: url(" + gallery[1] + ");"
            )
          if gallery[2]
            - gallery[2] = require('@/pages/product/img/' + gallery[2]).default
            div.product__gallery-item.product__gallery-item_third(
              style = "background-image: url(" + gallery[2] + ");"
            )

        section.product__carousel.js-product__carousel.owl-carousel
          each src in gallery
            if src
              div.product__carousel-item(style="background-image: url(" + src + ");")

      div.product__body
        div.product__body-row
          div.product__body-col.product__body-col_first
            div.product__small-grid
              section.product__small-grid-col.product__small-grid-col_first
                if optionsInfographics
                  div.product__title
                    +heading({
                      text: 'Сведения о номере',
                      classes: 'heading_middle',
                      tag: 'h2',
                    })
                  - var index = 0
                  while index < optionsInfographics.items.length
                    - optionsInfographics.items[index].src = require('@/pages/product/img/' + optionsInfographics.items[index].src).default
                    - index++
                  +infographics(optionsInfographics)
              if chartCountAll
                section.product__small-grid-col
                  div.product__title
                    +heading({
                      text: 'Впечатления от номера',
                      classes: 'heading_middle',
                      tag: 'h2',
                    })
                  +chart({
                    chartCountAll: chartCountAll,
                    chartNumAwesome: chartNumAwesome,
                    chartNumGood: chartNumGood,
                    chartNumNotbad: chartNumNotbad,
                    chartNumDisappointed: chartNumDisappointed,
                  })
            
            if reviews
              section.product__section-reviews
                header.product__header-reviews
                  div.product__header-reviews-col
                    div.product__title.product__title_theme_review
                      +heading({
                        text: 'Отзывы посетителей номера',
                        classes: 'heading_middle',
                        tag: 'h2',
                      })
                  div.product__header-reviews-col
                    span.product__text-count-reviews #{reviews.length} отзыва
                each reviewItem, index in reviews
                  div.product__review-wrapper
                    - reviewItem.avatar = require('@/pages/product/img/' + reviewItem.avatar).default
                    +review(reviewItem)

            div.product__small-grid.product__small-grid_type_2
              section.product__small-grid-col.product__small-grid-col_first
                if rulesTitle
                  div.product__title.product__title_theme_rules
                    +heading({
                      text: rulesTitle,
                      classes: 'heading_middle',
                      tag: 'h2',
                    })
                if optionsRules
                  +list({
                    classes: 'list_with-big-dots',
                    items: optionsRules.items,
                  })
              section.product__small-grid-col
                if cancelTitle
                  div.product__title
                    +heading({
                      text: cancelTitle,
                      classes: 'heading_middle',
                      tag: 'h2',
                    })
                if cancelText
                  p.product__text #{cancelText}

          div.product__body-col.product__body-col_second
            +room-reservation({
              roomNumber: roomNumber,
              roomType: roomType,
              price: price,
              priceTime: priceTime,
              listService: listService,
              totalPrice: totalPrice
            })