@import '@/theme/variables.scss';

.heading {
  font-weight: 700;
  line-height: 1.25;
  margin: 0;

  &.heading_large {
    font-size: calc_rem(24);
  }

  &.heading_middle {
    font-size: calc_rem(19);
  }

  &.heading_small {
    font-size: calc_rem(12);
    text-transform: uppercase;
  }
}
