mixin collapse(options)
	if !options
		- options = {}

	if !options.classes
		- options.classes = ''
	
	if !options.id
		- options.id = ''

	if !options.group
		- options.group = ''

	if !options.text
		- options.text = ''

	div.collapse(class = options.classes, id = options.id, data-group = options.group)
		button.collapse__btn 
			h3.collapse__btn-text #{options.text}
			img.collapse__btn-arrow.svg-js(src = require('@/components/collapse/img/expand_more.svg').default)
		div.collapse__content
			div.collapse__content-wrapper
				block
