//-
  options.classes - Классы блока.
  options.id - ИД блока.

mixin social-nets(options = {})
  -
    const {
      classes = '',
      id = false,
    } = options;

  ul.social-nets(
    class = classes,
    id = id ? id : false
  )
    li.social-nets__item
      a.social-nets__link(
        href = '/mock-address/change-me',
        target = '_blank',
        rel = 'noopener noreferrer'
      )
        img.social-nets__icon(
          src = require('@/shared/img/twitter-icon.svg').default,
          alt = 'twitter',
        )
    li.social-nets__item
      a.social-nets__link(
        href = '/mock-address/change-me',
        target = '_blank',
        rel = 'noopener noreferrer'
      )
        img.social-nets__icon(
          src = require('@/shared/img/fb-icon.svg').default,
          alt = 'facebook',
        )
    li.social-nets__item
      a.social-nets__link(
        href = '/mock-address/change-me',
        target = '_blank',
        rel = 'noopener noreferrer'
      )
        img.social-nets__icon(
          src = require('@/shared/img/insta-icon.svg').default,
          alt = 'instagram',
        )