include ../button/button
include ../input-number/input-number

mixin list-counters(options)
  if !options
    - options = {}

  if !options.classes
    - options.classes = ''
  
  if !options.id
    - options.id = ''

  if !options.type
    - options.type = 1

  if options.type == 2
    - options.classes += ' list-counters_simple'


  div.list-counters.js-list-counters(
    class = options.classes, 
    id = options.id
  )
    if options.array_counters
      each item, index in options.array_counters
        div.list-counters__counter.js-list-counters__counter
          span.list-counters__counter-label.js-list-counters__counter-label #{item.label}
          +input-number({
            value: item.value ? item.value : 0,
            name: item.input_name ? item.input_name : '',
            min: 0
          })
      if options.type == 1
        div.list-counters__btns-result
          div.list-counters__btn-reset.js-list-counters__btn-reset
            +button({text: "Очистить", classes: "button_gray"})
          div.list-counters__btn-submit.js-list-counters__btn-submit
            +button({text: "Применить"})