include ../button/button
include ../input-number/input-number

//-
  options.classes - Классы блока.
  options.id - ИД блока.
  options.type = 1 - Тип блока со счетчиками. Если 1, тогда блок отображается с кнопками сброса и подтверждения.
  options.textDefault - Текст поля без значений.
  options.textOne - Текст поля, если сумма всех счетчиков равно 1.
  options.textMany - Текст поля, если сумма всех счетчиков больше 1.
  options.arrayCounters - Массив полей-счетчиков.
  options.arrayCounters[0].label - Подпись счетчика.
  options.arrayCounters[0].value = 0 - Значение поля счетчика.
  options.arrayCounters[0].inputName - Имя поля счетчика.

mixin list-counters(options)
  if !options
    - options = {}

  if !options.classes
    - options.classes = ''
  
  if !options.id
    - options.id = ''

  if !options.type
    - options.type = 1

  if options.type == 2
    - options.classes += ' list-counters_simple'

  if !options.textDefault
    - options.textDefault = ''

  if !options.textOne
    - options.textOne = ''

  if !options.textMany
    - options.textMany = ''


  div.list-counters.js-list-counters(
    class = options.classes, 
    id = options.id,
    data-default-text = options.textDefault, 
    data-text-one = options.textOne, 
    data-text-many = options.textMany
  )
    if options.arrayCounters
      each item, index in options.arrayCounters
        div.list-counters__counter.js-list-counters__counter
          span.list-counters__counter-label.js-list-counters__counter-label #{item.label}
          +input-number({
            value: item.value ? item.value : 0,
            name: item.inputName ? item.inputName : '',
            min: 0
          })
      if options.type == 1
        div.list-counters__btns-result
          div.list-counters__btn-reset.js-list-counters__btn-reset
            +button({text: "Очистить", classes: "button_gray"})
          div.list-counters__btn-submit.js-list-counters__btn-submit
            +button({text: "Применить"})