include ../button/button
include ../input-number/input-number

//-
  options.classes - Классы блока.
  options.id - ИД блока.
  options.type = 1 - Тип блока со счетчиками. Если 1, тогда блок отображается с кнопками сброса и подтверждения.
  options.textDefault - Текст поля, если сумма всех счетчиков равна 0.
  options.arrayCounters - Массив полей-счетчиков.
  options.arrayCounters[0].label - Подпись счетчика.
  options.arrayCounters[0].value = 0 - Значение поля счетчика.
  options.arrayCounters[0].inputName - Имя поля счетчика.
  options.arrayCounters[0].textOneItems - Слово, используемое для вывода результата. Например, "1 Спальня".
  options.arrayCounters[0].textTwoItems - Слово, используемое для вывода результата. Например, "2 Спальни".
  options.arrayCounters[0].textManyItems - Слово, используемое для вывода результата. Например, "5 Спален".
  options.arrayCounters[0].groupItemId - Уникальный номер группы счетчиков, которые нужно считать вместе, а не по отдельности.

mixin list-counters(options = {})
  -
    var {
      classes = '',
      id = false,
      type = 1,
      textDefault = '',
      arrayCounters = []
    } = options;

  if type == 2
    - classes += ' list-counters_simple'

  div.list-counters.js-list-counters(
    class = classes,
    id = id ? id : false,
    data-default-text = textDefault,
  )
    if arrayCounters
      each item, index in arrayCounters
        -
          var {
            label = '',
            value = '',
            inputName = false,
            textOneItems = label,
            textTwoItems = label,
            textManyItems = label,
            groupItemId = index,
          } = item;
        div.list-counters__counter.js-list-counters__counter(
          data-text-one-items = textOneItems,
          data-text-two-items = textTwoItems,
          data-text-many-items = textManyItems,
          data-group-item-id = groupItemId,
        )
          span.list-counters__counter-label.js-list-counters__counter-label #{label}
          div.list-counters__input-number-wrapper
            +input-number({
              value: value ? value : 0,
              name: inputName ? inputName : false,
              min: 0,
              readonly: true,
            })
      if type == 1
        div.list-counters__btns
          div.list-counters__btn.list-counters__btn_type_reset.js-list-counters__btn_type_reset
            +button({ text: 'Очистить' })
          div.list-counters__btn.list-counters__btn_type_submit.js-list-counters__btn_type_submit
            +button({ text: 'Применить' })