include ../button/button
include ../input-number/input-number

//-
  options.classes - Классы блока.
  options.id - ИД блока.
  options.type = 1 - Тип блока со счетчиками. Если 1, тогда блок отображается с кнопками сброса и подтверждения.
  options.textDefault - Текст поля без значений.
  options.textOne - Текст поля, если сумма всех счетчиков равно 1.
  options.textMany - Текст поля, если сумма всех счетчиков больше 1.
  options.arrayCounters - Массив полей-счетчиков.
  options.arrayCounters[0].label - Подпись счетчика.
  options.arrayCounters[0].value = 0 - Значение поля счетчика.
  options.arrayCounters[0].inputName - Имя поля счетчика.

mixin list-counters(options = {})
  -
    var {
      classes = '',
      id = false,
      type = 1,
      textDefault = '',
      arrayCounters = []
    } = options;

  if type == 2
    - classes += ' list-counters_simple'

  div.list-counters.js-list-counters(
    class = classes,
    id = id ? id : false,
    data-default-text = textDefault,
  )
    if arrayCounters
      each item, index in arrayCounters
        -
          var {
            label = '',
            value = '',
            inputName = false,
            textOneItems = label,
            textTwoItems = label,
            textManyItems = label,
            groupItemId = index,
          } = item;
        div.list-counters__counter.js-list-counters__counter(
          data-text-one-items = textOneItems,
          data-text-two-items = textTwoItems,
          data-text-many-items = textManyItems,
          data-group-item-id = groupItemId,
        )
          span.list-counters__counter-label.js-list-counters__counter-label #{label}
          div.list-counters__input-number-wrapper
            +input-number({
              value: value ? value : 0,
              name: inputName ? inputName : false,
              min: 0,
            })
      if type == 1
        div.list-counters__btns-result
          div.list-counters__btn-reset.js-list-counters__btn-reset
            +button({text: "Очистить", classes: "button_gray"})
          div.list-counters__btn-submit.js-list-counters__btn-submit
            +button({text: "Применить"})