-
  const {
    commonDataHeader = false,
    commonDataFooter = false,
  } = htmlWebpackPlugin.options.getData('pages/base/data.json');

include ../../components/layout/layout
include ../../components/header/header
include ../../components/footer/footer


doctype html
html(lang='ru')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='mask-icon', color='#BC9CFF', href=require('@/components/logo/img/logo-mini.svg').default)
    block headTags
  
  body.page
    div.page__content-wrapper.js-page__content-wrapper
      block content

      block footer
        +footer({
          classes: dataFooter.classes,
          menuItems: dataFooter.footerItems,
          text1: dataFooter.text1,
          text2: dataFooter.text2,
          titleSubscribe: dataFooter.titleSubscribe,
          copyrightText: dataFooter.copyrightText
        })