@import '@/theme/variables.scss';

.page {
  min-height: 100vh;
  transition: transform 0.3s;
  transform: translateX(0);

  .page__content-wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    width: 100%;
  }

  .page__main {
    width: 100%;
    flex-grow: 1;
  }

  &.page_show-curtain {
    @media (max-width: $sm) {
      transform: translateX(-272px);
    }
  }
}
