//- include ./base-data
//- block variables

-
	var data_header = {
		menuItems: [
			{
				name: "О нас",
				href: "/about.html"
			},
			{
				name: "Услуги",
				href: "/services.html",
				subitems: [
					{name: "Долгосрочная аренда", href: "/404.html"}
				]
			},
			{
				name: "Вакансии",
				href: "/careers.html"
			},
			{
				name: "Новости",
				href: "/news.html"
			},
			{
				name: "Соглашения",
				href: "/documentions.html",
				subitems: [
					{name: "Договор", href: "/404.html"}
				]
			}
		],
		login_text: 'Войти',
		login_href: 'login.html',
		reg_text: 'Зарегистрироваться',
		reg_href: 'register.html',
	}

-
	var data_footer = {
		footerItems: [
			{
				subtitle: 'Навигация',
				items: [
					{
						name: 'О нас',
						href: '/about.html'
					},
					{
						name: 'Новости',
						href: '/news.html'
					},
					{
						name: 'Служба поддержки',
						href: '/support.html'
					},
					{
						name: 'Услуги',
						href: '/products.html'
					},
				]
			},
			{
				subtitle: 'О нас',
				items: [
					{
						name: 'О сервисе',
						href: '/who-we-are.html'
					},
					{
						name: 'Наша команда',
						href: '/our-team.html'
					},
					{
						name: 'Вакансии',
						href: '/careers.html'
					},
					{
						name: 'Инвесторы',
						href: '/investors.html'
					},
				]
			},
			{
				subtitle: 'Служба поддержки',
				items: [
					{
						name: 'Соглашения',
						href: '/docs.html'
					},
					{
						name: 'Сообщества',
						href: '/community.html'
					},
					{
						name: 'Связь с нами',
						href: '/get-in-touch.html'
					},
				]
			}
		],
		text1: 'Бронирование номеров в лучшем отеле 2019 года по версии ассоциации «Отельные взгляды»',
		text2: 'Получайте специальные предложения и новости сервиса',
		title_subscribe: 'Подписка',
		copyright_text: 'Copyright © 2018 Toxin отель. Все права зачищены.'
	}


include ../../components/layout/layout
include ../../components/header/header
include ../../components/footer/footer


doctype html
html(lang="ru")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		title
			block title
	
	body.page

		main.page__content-wrapper
			block content

		block footer
			+footer({
				menuItems: data_footer.footerItems,
				text1: data_footer.text1,
				text2: data_footer.text2,
				title_subscribe: data_footer.title_subscribe,
				copyright_text: data_footer.copyright_text
			})