//- include ./base-data
//- block variables

-
  var dataHeader = {
    menuItems: [
      {
        name: "О нас",
        href: "about.html"
      },
      {
        name: "Услуги",
        href: "services.html",
        subitems: [
          {name: "Долгосрочная аренда", href: "404.html"},
          {name: "Выгул собак", href: "404.html"},
          {name: "Массаж ног", href: "404.html"}
        ]
      },
      {
        name: "Вакансии",
        href: "careers.html"
      },
      {
        name: "Новости",
        href: "news.html"
      },
      {
        name: "Соглашения",
        href: "documentions.html",
        subitems: [
          {name: "Договор", href: "404.html"}
        ]
      }
    ],
    loginText: "Войти",
    loginHref: "login.html",
    regText: "Зарегистрироваться",
    regHref: "register.html",
  }

-
  var dataFooter = {
    footerItems: [
      {
        subtitle: "Навигация",
        items: [
          {
            name: "О нас",
            href: "about.html"
          },
          {
            name: "Новости",
            href: "news.html"
          },
          {
            name: "Служба поддержки",
            href: "support.html"
          },
          {
            name: "Услуги",
            href: "products.html"
          },
        ]
      },
      {
        subtitle: "О нас",
        items: [
          {
            name: "О сервисе",
            href: "who-we-are.html"
          },
          {
            name: "Наша команда",
            href: "our-team.html"
          },
          {
            name: "Вакансии",
            href: "careers.html"
          },
          {
            name: "Инвесторы",
            href: "investors.html"
          },
        ]
      },
      {
        subtitle: "Служба поддержки",
        items: [
          {
            name: "Соглашения",
            href: "docs.html"
          },
          {
            name: "Сообщества",
            href: "community.html"
          },
          {
            name: "Связь с нами",
            href: "get-in-touch.html"
          },
        ]
      }
    ],
    text1: "Бронирование номеров в лучшем отеле 2019 года по версии ассоциации «Отельные взгляды»",
    text2: "Получайте специальные предложения и новости сервиса",
    titleSubscribe: "Подписка",
    copyrightText: "Copyright © 2018 Toxin отель. Все права зачищены."
  }


include ../../components/layout/layout
include ../../components/header/header
include ../../components/footer/footer
include ../../components/curtain/curtain


doctype html
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title
      block title
  
  body.page
    div.page__content-wrapper.js-page__content-wrapper
      main
        block content

      block footer
        +footer({
          menuItems: dataFooter.footerItems,
          text1: dataFooter.text1,
          text2: dataFooter.text2,
          titleSubscribe: dataFooter.titleSubscribe,
          copyrightText: dataFooter.copyrightText
        })