//- include ./base-data
//- block variables

-
  var dataHeader = {
    menuItems: [
      {
        name: 'О нас',
        href: '/mock-address/change-me'
      },
      {
        name: 'Услуги',
        href: '/mock-address/change-me',
        subitems: [
          {name: 'Долгосрочная аренда', href: '/mock-address/change-me'},
          {name: 'Выгул собак', href: '/mock-address/change-me'},
          {name: 'Массаж ног', href: '/mock-address/change-me'}
        ]
      },
      {
        name: 'Вакансии',
        href: '/mock-address/change-me'
      },
      {
        name: 'Новости',
        href: '/mock-address/change-me'
      },
      {
        name: 'Соглашения',
        href: '/mock-address/change-me',
        subitems: [
          {name: 'Договор', href: '/mock-address/change-me'}
        ]
      }
    ],
    loginText: 'Войти',
    loginHref: 'login.html',
    regText: 'Зарегистрироваться',
    regHref: 'register.html',
  }

-
  var dataFooter = {
    classes: '',
    footerItems: [
      {
        subtitle: 'Навигация',
        items: [
          {
            name: 'О нас',
            href: '/mock-address/change-me'
          },
          {
            name: 'Новости',
            href: '/mock-address/change-me'
          },
          {
            name: 'Служба поддержки',
            href: '/mock-address/change-me'
          },
          {
            name: 'Услуги',
            href: '/mock-address/change-me'
          },
        ]
      },
      {
        subtitle: 'О нас',
        items: [
          {
            name: 'О сервисе',
            href: '/mock-address/change-me'
          },
          {
            name: 'Наша команда',
            href: '/mock-address/change-me'
          },
          {
            name: 'Вакансии',
            href: '/mock-address/change-me'
          },
          {
            name: 'Инвесторы',
            href: '/mock-address/change-me'
          },
        ]
      },
      {
        subtitle: 'Служба поддержки',
        items: [
          {
            name: 'Соглашения',
            href: '/mock-address/change-me'
          },
          {
            name: 'Сообщества',
            href: '/mock-address/change-me'
          },
          {
            name: 'Связь с нами',
            href: '/mock-address/change-me'
          },
        ]
      }
    ],
    text1: 'Бронирование номеров в лучшем отеле 2019 года по версии ассоциации «Отельные взгляды»',
    text2: 'Получайте специальные предложения и новости сервиса',
    titleSubscribe: 'Подписка',
    copyrightText: 'Copyright © 2018 Toxin отель. Все права зачищены.'
  }


include ../../components/layout/layout
include ../../components/header/header
include ../../components/footer/footer


doctype html
html(lang='ru')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='mask-icon', color='#BC9CFF', href=require('@/components/logo/img/logo-mini.svg').default)
    block headTags
  
  body.page
    div.page__content-wrapper.js-page__content-wrapper
      block content

      block footer
        +footer({
          classes: dataFooter.classes,
          menuItems: dataFooter.footerItems,
          text1: dataFooter.text1,
          text2: dataFooter.text2,
          titleSubscribe: dataFooter.titleSubscribe,
          copyrightText: dataFooter.copyrightText
        })