//- include ./base-data
//- block variables
-
	var menuItems = [
		{
			name: 'Home',
			href: '/index.html'
		},
		{
			name: 'About Us',
			href: '/about.html'
		},
		{
			name: 'Services',
			href: '/services.html'
		},
		{
			name: 'Careers',
			href: '/careers.html'
		},
		{
			name: 'News',
			href: '/news.html'
		},
		{
			name: 'Documentation',
			href: '/documentions.html'
		}
	]

-
	var footerItems = [
		{
			subtitle: 'Navigation',
			items: [
				{
					name: 'About Us',
					href: '/about.html'
				},
				{
					name: 'News',
					href: '/news.html'
				},
				{
					name: 'Support',
					href: '/support.html'
				},
				{
					name: 'Products',
					href: '/products.html'
				},
			]
		},
		{
			subtitle: 'About Us',
			items: [
				{
					name: 'Who we are',
					href: '/who-we-are.html'
				},
				{
					name: 'Our team',
					href: '/our-team.html'
				},
				{
					name: 'Careers',
					href: '/careers.html'
				},
				{
					name: 'Investors',
					href: '/investors.html'
				},
			]
		},
		{
			subtitle: 'Support',
			items: [
				{
					name: 'Documentation',
					href: '/docs.html'
				},
				{
					name: 'Community',
					href: '/community.html'
				},
				{
					name: 'Get in Touch',
					href: '/get-in-touch.html'
				},
			]
		}
	]


include ../../components/layout/layout
include ../../components/logo/logo
include ../../components/social-nets/social-nets
include ../../components/header/header
include ../../components/footer/footer
include ../../components/button/button
include ../../components/input/input
include ../../components/checkbox/checkbox
include ../../components/radio/radio
include ../../components/toggle/toggle
include ../../components/like-btn/like-btn
include ../../components/rate-btn/rate-btn
include ../../components/slider-range/slider-range
include ../../components/pagination/pagination

doctype html
html(lang="ru")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		title
			block title
	
	body.page

		main.page__content-wrapper
			block content

		block footer
			+footer({menuItems: footerItems})