//- include ../../components/layout/layout
include ../../components/header/header
include ../../components/footer/footer

doctype html
html(lang="ru")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		title Toxin Guide
	body
		block header
			div.layout
				div.layout__container
					+header()

		block content

		block footer
			div.layout
				div.layout__container
					footer.footer footer