@import '@/theme/variables.scss';

.page {
  min-height: 100vh;

  .page__content-wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    width: 100%;
    transition: transform 0.3s;
    transform: translateX(0);
  }

  .page__main {
    width: 100%;
    flex-grow: 1;
  }

  &.page_shown-curtain {
    .page__content-wrapper {
      @media (max-width: $sm) {
        transform: translateX(-272px);
      }
    }
  }
}
