include ../logo/logo
include ../button/button

mixin header(options)
  if !options
    - options = {}

  if !options.classes
    - options.classes = ''

  if !options.id
    - options.id = ''

  if !options.menuItems
    - options.menuItems = []

  if !options.button_login_text
    - options.button_login_text = 'Login'
  
  if !options.button_reg_text
    - options.button_reg_text = 'Register'


  header.header(class = options.classes, id = options.id)
    div.header__container
      div.header__logo
        +logo()
      nav.header__main-menu
        each val, index in options.menuItems
          li.header__main-menu-item
            a.header__main-menu-link(href = val.href)= val.name
              if val.subitems
                img.header__main-menu-arrow(src = require('@/components/header/img/expand_more.svg').default, alt = "v")

      a.header__btn-icon.header__btn-icon_profile(href = options.button_login_href ? options.button_login_href : false)
        img(src = require('@/components/header/img/user_icon.svg').default, alt = 'Профиль', title = 'Профиль')
      button.header__btn-icon.header__btn-icon_menu.js-header__btn_show-curtain
        img(src = require('@/components/header/img/menu_icon.svg').default, alt = 'Меню', title = 'Меню')

      if !options.username
        div.header__btn1
          +button({
            text: options.button_login_text, 
            theme: 'button_outline button_size-md',
            href: options.button_login_href ? options.button_login_href : false
          })
        div.header__btn2
          +button({
            text: options.button_reg_text, 
            theme: 'button_fill button_size-md',
            href: options.button_reg_href ? options.button_reg_href : false
          })
      else
        a.header__username #{options.username}