include ../logo/logo
include ../button/button
include ../dropdown/dropdown

//-
  options.classes - Классы блока.
  options.id - ИД блока.
  options.menuItems - Пукнты главного меню сайта.
  options.menuItems[0].href - Ссылка на страницу.
  options.menuItems[0].name - Текст пункта меню.
  options.menuItems[0].subitems - Массив подпунктов.
  options.buttonLoginText = 'Login' - Текст кнопки входа.
  options.buttonLoginHref - Ссылка кнопки на страницу входа.
  options.buttonRegText = 'Register' - Текст кнопки регистрации.
  options.buttonRegHref - Ссылка кнопки на страницу регистрации.
  options.username - Имя пользователя. Если этот параметр не указан, 
    то вместо имени будут находиться кнопки входа и регастрации.

mixin header(options = {})
  -
    const {
      classes = '',
      id = false,
      username = false, 
      buttonLoginText = 'Login',
      buttonLoginHref = false,
      buttonRegText = 'Register',
      buttonRegHref = false,
      menuItems = [],
    } = options;


  header.header.js-header(
    class = classes,
    id = id ? id : false
  )
    div.header__container
      div.header__logo
        +logo()
      nav.header__main-menu
        each val, index in menuItems
          li.header__main-menu-item
            if val.subitems
              +dropdown({
                text: val.name,
                group: 'header-dropdowns',
                classes: 'dropdown_theme_plain'
              })
                nav.header__main-submenu
                  each val2, index2 in val.subitems
                    li.header__main-submenu-item
                      a.header__main-menu-link(href = val2.href) #{val2.name}
            else
              a.header__main-menu-link(href = val.href) #{val.name}
              

      a.header__icon-btn.header__icon-btn_type_profile(
        href = buttonLoginHref ? buttonLoginHref : false,
        title = 'Профиль'
      )
        img(
          src = require('@/components/header/img/user_icon.svg').default,
          alt = 'Профиль',
          role = 'presentation'
        )
      button.header__icon-btn.header__icon-btn_type_menu.js-header__btn_show-curtain(
        title = 'Меню',
        type = 'button',
      )
        img(
          src = require('@/components/header/img/menu_icon.svg').default,
          alt = 'Меню',
          role = 'presentation'
        )

      if !username
        div.header__btn-login
          +button({
            text: buttonLoginText, 
            classes: 'button_outlined button_size_md',
            href: buttonLoginHref ? buttonLoginHref : false
          })
        div.header__btn-signup
          +button({
            text: buttonRegText, 
            classes: 'button_filled_blue-green-gradient button_size_md',
            href: buttonRegHref ? buttonRegHref : false
          })
      else
        a.header__username #{username}