@import '@/theme/variables.scss';

.header {
  background: $white;

  &__container {
    display: grid;
    grid-template-areas: 'logo nav-menu btn1 btn2';
    align-items: center;
    grid-template-columns: auto 1fr auto auto auto auto;
    padding: 15px $padding_container;
    max-width: $max_width_container;
    margin: 0 auto;
  }

  &__logo {
    grid-area: logo;
    display: flex;
  }

  &__main-menu {
    grid-area: nav-menu;
    list-style: none;
    margin-left: auto;

    &-item {
      display: inline-block;
      padding: 0 10px;

      @media (max-width: $sm) {
        display: none;
      }

      &_active {
        font-weight: 700;
      }
    }

    &-link {
      color: $dark50;
      text-decoration: none;
      font-weight: 400;
      display: flex;
      align-items: center;
    }
  }

  &__main-submenu {
    padding: 10px 20px 0;

    &-item {
      display: block;
      margin-bottom: 10px;
    }
  }

  &__btn-login {
    grid-area: btn1;
    padding-left: 15px;
  }

  &__btn-signup {
    grid-area: btn2;
    padding-left: 20px;
  }

  &__username {
    color: $dark50;
    padding-left: 30px;
    margin-left: 15px;
    position: relative;

    &::after {
      content: '';
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      height: 30px;
      width: 1px;
      background-color: $dark10;
    }
  }

  &__btn-login,
  &__btn-signup,
  &__username {
    @media (max-width: $lg) {
      display: none;
    }
  }

  &__btn-icon {
    background: none;
    border: 0;
    box-shadow: none;
    width: auto;
    height: auto;
    display: inline-flex;
    cursor: pointer;
    margin-left: 20px;

    &_profile {
      @media (min-width: $lg) {
        display: none;
      }
    }

    &_menu {
      @media (min-width: $sm) {
        display: none;
      }
    }
  }
}
