@import '@/theme/variables.scss';

.header {
  background: $white;
  width: 100%;
  z-index: 3;

  & &__container {
    position: relative;
    display: grid;
    grid-template-areas: 'logo nav-menu btns';
    align-items: center;
    grid-template-columns: auto 1fr auto auto auto;
    padding: 15px $padding_container;
    max-width: $max_width_container;
    margin: 0 auto;
    background-color: $white;
  }

  & &__logo {
    grid-area: logo;
    display: flex;
  }

  & &__main-menu {
    grid-area: nav-menu;
    list-style: none;
    margin-left: auto;

    @media (max-width: $sm) {
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      grid-area: unset;
      background-color: $white;
      z-index: -3;
      transform: translateY(-100%);
    }

    &-link {
      color: $dark50;
      text-decoration: none;
      font-weight: 400;
      display: flex;
      align-items: center;

      @media (max-width: $sm) {
        text-align: center;
        justify-content: center;
        padding: 10px;
      }
    }

    &-item {
      display: inline-block;
      padding: 0 9px;

      @media (max-width: $sm) {
        display: block;
        border-top: 1px solid $dark25;

        &:last-of-type {
          border-bottom: 1px solid $dark50;
        }
      }
    }
  }

  &.header_shown-main-menu {
    & .header__main-menu {
      @media (max-width: $sm) {
        transform: translateY(0);
        transition: transform 0.3s;
        box-shadow: 0 8px 10px 0 $dark25;
      }
    }
  }

  & &__main-submenu {
    padding: 10px 20px 0;

    &-item {
      display: block;
      margin-bottom: 10px;
    }

    &-link {
      color: $dark50;
      text-decoration: none;
      font-weight: 400;
    }
  }

  & &__auth-btns {
    grid-area: btns;
    display: inline-flex;
    justify-content: center;
    padding-left: 18px;
    margin-left: -10px;
    margin-right: -10px;

    @media (max-width: $lg) {
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      grid-area: unset;
      background-color: $white;
      z-index: -3;
      transform: translateY(-100%);
      display: flex;
      flex-direction: column;
      padding: 0;
      margin: 0;
    }
  }

  &.header_shown-auth-btns {
    & .header__auth-btns {
      @media (max-width: $lg) {
        transform: translateY(0);
        transition: transform 0.3s;
        box-shadow: 0 8px 10px 0 $dark25;
      }
    }
  }

  & &__auth-btn {
    max-width: 250px;
    padding: 0 10px;

    @media (max-width: $lg) {
      max-width: none;
      border-top: 1px solid $dark25;

      &:last-of-type {
        border-bottom: 1px solid $dark50;
      }
    }
  }

  & &__username {
    color: $dark50;
    padding-left: 30px;
    margin-left: 15px;
    position: relative;
    max-width: 250px;

    @media (max-width: $lg) {
      display: none;
    }

    &::after {
      content: '';
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      height: 30px;
      width: 1px;
      background-color: $dark10;
    }
  }

  & &__icon-btn {
    background: none;
    border: 0;
    box-shadow: none;
    width: auto;
    height: auto;
    display: inline-flex;
    cursor: pointer;
    margin-left: 20px;

    &_type_profile {
      @media (min-width: $lg) {
        display: none;
      }

      @media (max-width: $sm) {
        margin-left: auto;
      }
    }

    &_type_menu {
      @media (min-width: $sm) {
        display: none;
      }
    }
  }
}
