mixin header(options)
	if !options
		- options = {}
	if !options.menuItems
		- options.menuItems = []

	header.header
		a.header__logo
			img(src = require('@/components/header/img/logo.svg').default)
			//- include ./img/logo.svg
		nav.header__main-menu
			each item, index in options.menuItems
				li
					a(href = item.href)= item.name
		div.header__btn1
			a.button_outline Login
		div.header__btn2
			a.button Registr