

mixin checkbox(options)
	if !options
		- options = {}
	
	if !options.text
		- options.text = ''

	if !options.title
		- options.title = ''

	if !options.classes
		- options.classes = ''
	
	if !options.id
		- options.id = ''

	if !options.name
		- options.name = ''

	if !options.value
		- options.value = ''


	label.checkbox(class = options.classes, id = options.id)
		if options.checked
			input(type = "checkbox", name = options.name, value = options.value, checked).checkbox__input
		else
			input(type = "checkbox", name = options.name, value = options.value).checkbox__input

		div.checkbox__view
		div.checkbox__text-wrapper
			if options.title
				p.checkbox__title #{options.title}
			if options.text
				p.checkbox__text #{options.text}