//-
  options.classes - Классы блока.
  options.id - ИД блока.
  options.title - Заголовок чекбокса.
  options.text - Текст чекбокса.
  options.name - Название input (атрибут name).
  options.value - Значение input чекбокса (атрибут value).
  options.checked - Помечен ли чекбокс или нет (атрибут checked).

mixin checkbox(options)
  if !options
    - options = {}
  
  if !options.text
    - options.text = ''

  if !options.classes
    - options.classes = ''

  if !options.name
    - options.name = ''

  if !options.value
    - options.value = ''


  label.checkbox(
    class = options.classes,
    id = options.id ? options.id : false
  )
    input.checkbox__input(
      type = "checkbox", 
      name = options.name, 
      value = options.value, 
      checked = options.checked ? "checked" : false
    )

    div.checkbox__view
    div.checkbox__text-wrapper
      if options.title
        p.checkbox__title #{options.title}
        p.checkbox__text-small #{options.text}
      else
        if options.text
          p.checkbox__text #{options.text}