//-
  options.classes - Классы блока.
  options.id - ИД блока.
  options.title - Заголовок чекбокса.
  options.text - Текст чекбокса.
  options.name - Название input (атрибут name).
  options.value - Значение input чекбокса (атрибут value).
  options.checked - Помечен ли чекбокс или нет (атрибут checked).

mixin checkbox(options = {})
  -
    const {
      classes = '',
      id = false,
      text = false,
      name = '',
      value = '',
      checked = false,
      title = false,
    } = options;


  div.checkbox(
    class = classes,
    id = id ? id : false
  )
    label.checkbox__wrapper
      input.checkbox__input(
        type = "checkbox", 
        name = name, 
        value = value, 
        checked = checked ? "checked" : false
      )

      div.checkbox__view
      div.checkbox__text-wrapper
        if title
          p.checkbox__title #{title}
          p.checkbox__small-text #{text}
        else
          if text
            p.checkbox__text #{text}