@import '@/theme/variables.scss';

.checkbox{
	display: flex;

	&__input{
		display: none;
	}

	&__view{
		position: relative;
		display: inline-block;
		width: calc_rem(20);
		height: calc_rem(20);
		border-radius: 4px;
		background: $white;
		border: 1px solid $dark25;
		transition: .2s;

		&:after{
			content: '';
			position: absolute;
			top: 3px;
			left: 4px;
			width: 10px;
			height: 11px;
			background-image: url(img/check-icon.svg);
			background-position: center;
			background-size: auto;
			background-repeat: no-repeat;
			opacity: 0;
			transition: .2s;
		}
	}

	&__input:checked + &__view{
		border-color: $purple;

		&:after{
			opacity: 1;
		}
	}

	&__text{
		line-height: 1.28;
		font-size: calc_rem(14);
		color: $dark50;
		margin-left: 10px;
		padding-top: 3px;
	}
}