//-
  options.classes - Классы блока.
  options.id - ИД блока.
  options.title - Заголовок чекбокса.
  options.text - Текст чекбокса.
  options.type - Тип поля (checkbox или radio).
  options.name - Название input (атрибут name).
  options.value - Значение input чекбокса (атрибут value).
  options.checked - Помечен ли чекбокс или нет (атрибут checked).

mixin checkbox(options = {})
  -
    const {
      classes = '',
      id = false,
      text = false,
      name = '',
      value = '',
      checked = false,
      title = false,
      type = 'checkbox',
    } = options;


  div.checkbox(
    class = classes,
    id = id ? id : false
  )
    label.checkbox__wrapper
      input.checkbox__input(
        type = type,
        name = name ? name : false,
        value = value ? value : false,
        checked = checked ? "checked" : false,
      )
      span.checkbox__custom-input
      span.checkbox__text-wrapper
        if title
          span.checkbox__title #{title}
          span.checkbox__small-text #{text}
        else
          if text
            span.checkbox__text #{text}