@import '@/theme/variables.scss';

.checkbox {
  display: block;
  line-height: 0.6;

  &__wrapper {
    display: inline-flex;
  }

  &__input {
    display: none;
  }

  &__view {
    position: relative;
    display: inline-block;
    width: calc_rem(20);
    height: calc_rem(20);
    border-radius: 4px;
    background: $white;
    border: 1px solid $dark25;
    transition: 0.2s;
    flex: none;
    cursor: pointer;

    &::after {
      content: '';
      position: absolute;
      top: 3px;
      left: 4px;
      width: 10px;
      height: 11px;
      background-image: url(img/check-icon.svg);
      background-position: center;
      background-size: auto;
      background-repeat: no-repeat;
      opacity: 0;
      transition: 0.2s;
    }
  }

  &__input:checked ~ &__view {
    border-color: $purple;

    &::after {
      opacity: 1;
    }
  }

  &__text-wrapper {
    padding-left: 10px;
    cursor: pointer;
  }

  &__title {
    display: block;
    font-size: calc_rem(14);
    font-weight: 700;
    color: $dark75;
    margin: 2px 0 5px;
    line-height: 1.2857;
  }

  &__text {
    display: block;
    line-height: 1.28;
    font-size: calc_rem(14);
    color: $dark50;
    padding-top: 3px;
  }

  &__small-text {
    display: block;
    line-height: 1.16;
    font-size: calc_rem(12);
    color: $dark50;
  }

  &__input:disabled ~ &__view,
  &__input:disabled ~ &__text-wrapper {
    cursor: default;
  }
}
