@import '@/theme/variables.scss';

.footer {
  background: $white;

  &_bordered_top {
    border-top: 1px solid $dark25;
  }
  
  & &__container {
    max-width: $max_width_container;
    margin: 0 auto;
    padding: 0 10px;
  }
  
  & &__top-content {
    display: grid;
    grid-template-areas: 'col1 col2 col3 col4 col5';
    grid-template-columns: 3fr 2fr 2fr 2fr 3fr;
    padding: 100px 0;
    margin: 0 -20px;
  }
  
  & &__top-content-col{
    padding: 0 20px;

    &_first {
      grid-area: col1;
    }
  
    &_second {
      grid-area: col2;
    }
  
    &_third {
      grid-area: col3;
    }
  
    &_fourth {
      grid-area: col4;
    }
  
    &_fifth {
      grid-area: col5;
    }
  }
  

  & &__logo-wrapper {
    display: flex;
    margin-bottom: 20px;
  }

  & &__subtitle {
    margin-top: 4px;
    margin-bottom: 23px;
  }

  & &__list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    &-link {
      display: inline-block;
      text-decoration: none;
      color: $dark50;
      margin-bottom: 21px;
      line-height: 1.21;
  
      &:last-of-type {
        margin-bottom: 0;
      }
    }
  }

  & &__bottom-content {
    border-top: 1px solid $dark25;
    padding: 23px 0;
  }

  & &__bottom-content-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  & &__container-mobile {
    padding: 110px 0;
    text-align: center;
    margin: 0 auto;
    max-width: 560px;

    @media (max-width: $xs) {
      padding: 50px 0;
    }
  }

  & &__text {
    color: $dark75;
    margin-bottom: 20px;
  }

  &_desktop {
    @media (max-width: $md+1) {
      display: none;
    }
  }

  &_mobile {
    @media (min-width: $md+1) {
      display: none;
    }

    & .footer__logo-wrapper {
      justify-content: center;
      margin-bottom: 18px;
    }

    & .footer__text {
      margin-bottom: 28px;
    }
  }
}
