@import '@/theme/variables.scss';

.infographics {
  & &__item {
    display: flex;
    align-items: center;
    list-style: none;
    color: $dark75;

    &_line {
      padding-bottom: 20px;
      margin-bottom: 20px;
      border-bottom: 1px solid $dark10;
    }
  }

  & &__image {
    flex: none;
    width: calc_rem(48);
    height: calc_rem(48);
    background-position: center;
    background-size: auto;
    background-repeat: no-repeat;
    margin-right: 10px;
  }

  & &__title {
    font-weight: 700;
  }
}
