mixin infographics(options)
  if !options
    - options = {}

  if !options.classes
    - options.classes = ''
  
  if !options.id
    - options.id = ''

  if !options.items
    - options.items = ''

  ul.infographics(class = options.classes, id = options.id)
    each item, index in options.items
      if (item.line)
        -var classes_item = 'infographics__item_line'
      else
        -var classes_item = ''
        
      li.infographics__item(class = classes_item)
        div.infographics__image(style = "background-image: url(" + item.src + ")")
        div.infographics__text-wrapper
          p.infographics__title #{item.title}
          p.infographics__text #{item.text}

