//-
  options.classes - Классы блока.
  options.id - ИД блока.
  options.items - Массив с текстом и иконками.
  options.items[0].src - Путь до иконки.
  options.items[0].title - Заголовок.
  options.items[0].text - Текст.
  options.items[0].line - Линия.

mixin infographics(options = {})
  -
    const {
      classes = '',
      id = false,
      items = [],
    } = options;

  ul.infographics(
    class = classes,
    id = id ? id : false
  )
    each item, index in items
      if (item.line)
        -var classes_item = 'infographics__item_line'
      else
        -var classes_item = ''

      li.infographics__item(class = classes_item)
        div.infographics__image(style = "background-image: url(" + item.src + ")")
        div.infographics__text-wrapper
          p.infographics__title #{item.title}
          p.infographics__text #{item.text}

