extends ../base/base.pug

include ../../components/card-product/card-product
include ../../components/pagination/pagination
include ../../components/filter-products/filter-products
include ../../components/button/button

block title
  | Номера Toxin Hotel

block content
  - data = htmlWebpackPlugin.options.getData()

  div.products
    +header({
      menuItems: dataHeader.menuItems, 
      buttonLoginText: dataHeader.loginText,
      buttonLoginHref: dataHeader.loginHref,
      buttonRegText: dataHeader.regText,
      buttonRegHref: dataHeader.regHref
    })

    div.products__container
      div.products__grid
        div.products__left-column.js-products__left-column
          +filter-products(data.dataHeader)
        div.products__center-column
          h1.products__block-wrapper.products_mb20 Номера, которые мы для вас подобрали
          div.products__block-wrapper.products_mb20
            +button({
              classes: 'button_fill button_size-md products_filter-show products_show-filter',
              text: 'Показать фильтр'
            })
          div.products__cards-container.products_mb23
            each dataCard in data.cards
              div.products__card-wrapper.products_mb20
                +card-product({
                  gallery: dataCard.gallery ? dataCard.gallery : false,
                  roomNumber: dataCard.roomNumber ? dataCard.roomNumber : false,
                  roomType: dataCard.roomType ? dataCard.roomType : false,
                  price: dataCard.price ? dataCard.price : false,
                  priceTime: dataCard.priceTime ? dataCard.priceTime : false,
                  countReviews: dataCard.countReviews ? dataCard.countReviews : false,
                  roomType: dataCard.roomType ? dataCard.roomType : false,
                  rating: dataCard.rating ? dataCard.rating : false,
                })
          div.products__pagination-wrapper
            +pagination({page: 1, perpage: 12, elements: 175, text: "вариантов аренды"})