extends ../base/base.pug

include ../../components/card-product/card-product
include ../../components/pagination/pagination
include ../../components/filter-products/filter-products
include ../../components/button/button
include ../../components/heading/heading

block headTags
  -
    const {
      title = "",
      discription = "",
      keywords = "",
    } = htmlWebpackPlugin.options.getData();
  title #{title}
  meta(name="discription", content = discription)
  meta(name="keywords", content = keywords)

block content
  -
    const {
      cards = false,
      dataProductsPage = {},
    } = htmlWebpackPlugin.options.getData();

  - dataFooter.classes = 'footer_bordered_top';

  +header({
    menuItems: dataHeader.menuItems, 
    buttonLoginText: dataHeader.loginText,
    buttonLoginHref: dataHeader.loginHref,
    buttonRegText: dataHeader.regText,
    buttonRegHref: dataHeader.regHref
  })

  +curtain({
    menuItems: dataHeader.menuItems, 
    buttonLoginText: dataHeader.loginText,
    buttonLoginHref: dataHeader.loginHref,
    buttonRegText: dataHeader.regText,
    buttonRegHref: dataHeader.regHref
  })

  main.page__main
    div.products

      div.products__container
        div.products__grid
          div.products__left-column.js-products__left-column
            +filter-products(dataProductsPage)
          section.products__center-column
            div.products__title
              +heading({
                text: 'Номера, которые мы для вас подобрали',
                classes: 'heading_large',
                tag: 'h1',
              })
            div.products__btn_filter-showing
              +button({
                classes: 'button_filled_blue-green-gradient button_size_md js-products_show-filter',
                text: 'Показать фильтр'
              })
            div.products__cards-container
              each dataCard in cards
                div.products__card-wrapper
                  - var index = 0
                  while index < dataCard.gallery.length
                    - dataCard.gallery[index] = require('@/pages/products/img/' + dataCard.gallery[index]).default
                    - index++
                  +card-product({
                    gallery: dataCard.gallery ? dataCard.gallery : false,
                    roomNumber: dataCard.roomNumber ? dataCard.roomNumber : false,
                    roomType: dataCard.roomType ? dataCard.roomType : false,
                    price: dataCard.price ? dataCard.price : false,
                    priceTime: dataCard.priceTime ? dataCard.priceTime : false,
                    countReviews: dataCard.countReviews ? dataCard.countReviews : false,
                    roomType: dataCard.roomType ? dataCard.roomType : false,
                    rating: dataCard.rating ? dataCard.rating : false,
                  })
            div.products__pagination-wrapper
              +pagination({page: 1, perpage: 12, elements: 175, text: "вариантов аренды"})