//-
  options.classes - Классы блока.
  options.id - ИД блока.
  options.text - Текст.
  options.name - Название input (атрибут name).
  options.type - Тип input (атрибут type). Может принимать значения "checkbox" или "radio".
  options.checked = false - Включен или нет (атрибут checked).

mixin toggle(options)
  if !options
    - options = {}

  if !options.classes
    - options.classes = ''
  
  if !options.text
    - options.text = ''

  if !options.name
    - options.name = ''

  if !options.type
    - options.type = 'checkbox'

  label.toggle(
    class = classes,
    id = options.id ? options.id : false
  )
    input.toggle__input(
      type = options.type, 
      name = options.name, 
      checked = options.checked ? "checked" : false
    )
    
    span.toggle__view
    if options.text
      p.toggle__text #{options.text}