//-
  options.classes - Классы блока.
  options.id - ИД блока.
  options.text - Текст.
  options.name - Название input (атрибут name).
  options.type - Тип input (атрибут type). Может принимать значения "checkbox" или "radio".
  options.checked = false - Включен или нет (атрибут checked).

mixin toggle(options = {})
  -
    const {
      classes = '',
      id = false,
      text = false,
      name = '',
      value = '',
      checked = false,
      type = 'checkbox'
    } = options;

  div.toggle(
    class = classes,
    id = id ? id : false
  )
    label.toggle__wrapper
      input.toggle__input(
        type = type, 
        name = name ? name : false, 
        checked = checked ? "checked" : false,
        value = value ? value : false,
      )
      
      span.toggle__view
      if text
        span.toggle__text #{text}