

mixin toggle(options)
	if !options
		- options = {}
	
	if !options.text
		- options.text = ''

	if !options.classes
		- options.classes = ''
	
	if !options.id
		- options.id = ''

	if !options.name
		- options.name = ''

	if !options.type
		- options.type = 'checkbox'

	label.toggle(class = classes, id = options.id)
		if options.checked
			input(type = options.type, name = options.name, checked).toggle__input
		else
			input(type = options.type, name = options.name).toggle__input
			
		div.toggle__view
		if options.text
			div.toggle__text #{options.text}