@import '@/theme/variables.scss';
@import '@/shared/functions.scss';

.room-reservation {
  background-color: $white;
  border: 1px solid rgba($black, 0.12);
  box-shadow: 0 0 25px rgba($black, 0.2);
  border-radius: 4px;
  padding: 40px 29px 30px;

  @media (max-width: 400px) {
    padding: 20px 9px 20px;
  }

  &__room-info {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin-bottom: 10px;
    margin-top: 2px;
  }

  &__room-name,
  &__room-price {
    padding-bottom: 10px;
  }

  &__room-name {
    font-weight: 700;
    padding-right: 10px;
  }

  &__symbol {
    font-size: calc-rem(14);
    line-height: 1.21;
    padding-right: 8px;
  }

  &__room-number {
    font-size: calc-rem(24);
    line-height: 1.21;
  }

  &__room-type {
    font-size: calc-rem(12);
    line-height: 1.25;
    color: $purple;
    text-transform: uppercase;
    padding-left: 8px;
  }

  &__room-price {
    color: $dark50;
  }

  &__room-number-price {
    font-weight: 700;
    font-size: calc-rem(14);
  }

  &__room-payment-period {
    font-size: calc-rem(12);
  }

  &__dates-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    justify-content: space-between;
    column-gap: 20px;
  }

  &__input-dates-wrapper {
    min-width: 150px;
  }

  &__table {
    color: $dark75;
    width: 100%;

    &-cell {
      padding-bottom: 10px;
      vertical-align: top;
      line-height: 1.2857;

      &_with-tooltip {
        position: relative;
        padding-right: 24px;
      }

      &_with-price {
        text-align: right;
        min-width: 74px;
      }
    }
  }

  &__tooltip {
    position: absolute;
    top: 0;
    right: 0;
    display: inline-block;
    overflow: hidden;
    border-radius: 100vh;
    border: 1px solid $dark25;
    width: calc-rem(20);
    height: calc-rem(20);
    text-align: center;
    line-height: calc-rem(20);
    cursor: pointer;

    &::after {
      content: 'i';
      font-size: calc-rem(12);
      font-weight: 700;
      color: $dark25;
    }
  }

  &__total-price-wrapper {
    display: flex;
    align-items: flex-end;
    font-weight: 700;
    font-size: calc-rem(19);
    line-height: 1;
  }

  &__points {
    flex-grow: 1;
    border-bottom: 1px dashed $dark25;
    margin: 0 5px 4px;
  }

  &__total-price {
    white-space: nowrap;
  }

  &__input-dates-wrapper,
  &__total-price-wrapper,
  &__table-wrapper,
  &__input-wrapper {
    margin-bottom: 20px;
  }
}
