//-
  options.classes - Классы блока.
  options.id - ИД блока.
  options.bgUrl - Фоновая картинка.

mixin first-display(options = {})
  -
    const {
      classes = '',
      id = false,
      bgUrl = false,
      text = false,
    } = options;

  div.first-display.js-first-display(
    class = classes, 
    id = id ? id : false,
    style = bgUrl ? 'background-image: url(' + bgUrl + ')' : false,
  )
    div.first-display__content-wrapper
      div.first-display__form-wrapper
        block
      if text
        div.first-display__text #{text}