include ../header/header

//-
  options.classes - Классы блока.
  options.id - ИД блока.
  options.bgUrl - Фоновая картинка.

mixin first-display(options)
  if !options
    - options = {}

  if !options.classes
    - options.classes = ''


  div.first-display(
    class = options.classes, 
    id = options.id ? options.id : false
    style = options.bgUrl ? 'background-image: url(' + options.bgUrl + ')' : false
  )
    +header({
      menuItems: dataHeader.menuItems, 
      buttonLoginText: dataHeader.login_text,
      buttonLoginHref: dataHeader.login_href,
      buttonRegText: dataHeader.reg_text,
      buttonRegHref: dataHeader.reg_href
    })

    div.first-display__content-wrapper
      block