include ../header/header

//-
  options.classes - Классы блока.
  options.id - ИД блока.
  options.bgUrl - Фоновая картинка.

mixin first-display(options = {})
  -
    const {
      classes = '',
      id = false,
      bgUrl = false,
    } = options;

  div.first-display(
    class = classes, 
    id = id ? id : false,
    style = bgUrl ? 'background-image: url(' + bgUrl + ')' : false,
  )
    +header({
      menuItems: dataHeader.menuItems, 
      buttonLoginText: dataHeader.loginText,
      buttonLoginHref: dataHeader.loginHref,
      buttonRegText: dataHeader.regText,
      buttonRegHref: dataHeader.regHref
    })

    div.first-display__content-wrapper
      block