//-
	options.value - 
	options.classes - 
	options.id - 
	options.isLike

mixin like-btn(options)
	if !options
		- options = {}

	if !options.value
		- options.value = ''
	
	if !options.classes
		- options.classes = ''

	if !options.id
		- options.id = ''

	if !options.name
		- options.name = 'like'

	
	label.like-btn(class = options.classes, id = options.id)
		if options.isLike
			input.like-btn__check(type = 'checkbox', value = options.value, name = options.name, checked)
		else
			input.like-btn__check(type = 'checkbox', value = options.value, name = options.name)

		span.like-btn__view
			span.like-btn__count #{options.value}
