//-
	options.value - 
	options.classes - 
	options.id - 
	options.isLike

mixin like-btn(options)
	if !options
		- options = {}

	if !options.value
		- options.value = ''
	
	if !options.classes
		- options.classes = ''

	if !options.id
		- options.id = ''

	if !options.isLike
		- options.classes = ''
		- var is_like_val = '1';
	else
		- options.classes = ' like-btn_active'
		- var is_like_val = '0';

	
	div.like-btn(class = options.classes, id = options.id)
		input.like-btn__check(type = 'checkbox', value = is_like_val)
		input.like-btn__input(type = 'hidden', value = options.value)
		span.like-btn__count #{options.value}
