//-
  options.classes - Классы блока.
  options.id - ИД блока.
  options.value - Значение поля и количество лайков.
  options.isLike - Есть лайк или нет.

mixin like-btn(options = {})
  -
    const {
      classes = '',
      id = false,
      value = '',
      name = 'like',
      isLike = false,
    } = options;

  label.like-btn.js-like-btn(
    class = classes,
    id = id ? id : false
  )
    input.like-btn__check.js-like-btn__check(
      type = 'checkbox', 
      value = value, 
      name = name, 
      checked = isLike ? "checked" : false
    )
    span.like-btn__view
      span.like-btn__count.js-like-btn__count #{value}
