include ../../dropdown/dropdown
include ../../air-datepicker/air-datepicker
include ../../button/button
include ../../heading/heading
include ../../list-counters/list-counters

//-
  options.classes - Классы блока.
  options.id - ИД блока.
  options.title - Заголовок.

mixin room-search(options = {})
  -
    const {
      classes = '',
      id = false,
      title = 'Найдём номера под ваши пожелания',
    } = options;

  form.room-search.js-room-search(
    class = classes,
    id = id ? id : false
  )
    div.room-search__title-wrapper
      +heading({
        text: title,
        classes: 'heading_large',
        tag: 'h1'
      })
    div.room-search__dates-container
      div.room-search__input-dates-wrapper
        +dropdown({
          classes: 'js-dropdown_with-date-arrival dropdown_with-date-arrival',
          group: 'formFastSelect',
          targetId: '#dropdown-datepicker2',
          inputParams: {
            label: 'Прибытие',
            readonly: true,
            placeholder: 'ДД.ММ.ГГГГ',
          },
        })
      div.room-search__input-dates-wrapper
        +dropdown({
          classes: 'js-dropdown_with-date-departure dropdown_with-date-departure dropdown_with-dates dropdown_align_right',
          group: 'formFastSelect',
          id: 'dropdown-datepicker2',
          inputParams: {
            label: 'Выезд',
            readonly: true,
            placeholder: 'ДД.ММ.ГГГГ',
          },
        })
          +air-datepicker({
            classes: 'air-datepicker_inline',
            minDate: 'today',
          })

    div.room-search__input-wrapper
      +dropdown({
        classes: 'dropdown_with-guests js-dropdown_with-guests',
        group: 'formFastSelect',
        inputParams:{
          label: 'Гости',
          readonly: true,
          placeholder: 'Сколько гостей',
        }
      })
        +list-counters({
          classes: 'list-counters_with-guests js-list-counters_with-guests',
          arrayCounters: [
            {
              label: 'Взрослые',
              groupItemId: 1,
              textOneItems: 'гость',
              textTwoItems: 'гостя',
              textManyItems: 'гостей',
            },
            {
              label: 'Дети',
              groupItemId: 1,
              textOneItems: 'гость',
              textTwoItems: 'гостя',
              textManyItems: 'гостей',
            },
            {
              label: 'Младенцы',
              groupItemId: 2,
              textOneItems: 'младенец',
              textTwoItems: 'младенца',
              textManyItems: 'младенцев',
            },
          ],
        })

    +button({
      text: 'Подобрать номер',
      classes: 'button_filled_blue-green-gradient button_theme_arrow button_wide',
      type: 'submit',
    })