include ../../dropdown/dropdown
include ../../air-datepicker/air-datepicker
include ../../button/button
include ../../heading/heading

//-
  options.classes - Классы блока.
  options.id - ИД блока.
  options.title - Заголовок.

mixin room-search(options = {})
  -
    const {
      classes = '',
      id = false,
      title = 'Найдём номера под ваши пожелания',
    } = options;

  form.room-search(
    class = classes,
    id = id ? id : false
  )
    div.room-search__title-wrapper
      +heading({
        text: title,
        classes: 'heading_large',
        tag: 'h1'
      })
    div.room-search__dates-row
      div.room-search__dates-col
        +dropdown({
          classes: 'js-dropdown_type_datepicker-output dropdown_type_datepicker-output',
          group: 'formFastSelect',
          targetId: '#dropdown-datepicker2',
          inputParams: {
            label: "Прибытие",
            readonly: true,
            placeholder: "ДД.ММ.ГГГГ",
            classes: 'js-input-text_type_start-date input-text_type_start-date',
          },
        })
      div.room-search__dates-col
        +dropdown({
          classes: 'js-dropdown_type_datepicker-output dropdown_type_datepicker-output dropdown_dates dropdown_align_right',
          group: 'formFastSelect',
          id: 'dropdown-datepicker2',
          inputParams: {
            label: "Выезд",
            readonly: true,
            placeholder: "ДД.ММ.ГГГГ",
            classes: 'js-input-text_type_end-date input-text_type_end-date',
          },
        })
          +air-datepicker({
            classes: 'air-datepicker_inline',
            targetDropdown: '.js-dropdown_type_datepicker-output',
            minDate: 'today',
          })

    div.room-search__input-wrapper
      +dropdown({
        group: 'formFastSelect',
        inputParams:{
          label: "Гости",
          readonly: true,
          placeholder: "Сколько гостей",
        }
      })
        +list-counters({
          arrayCounters: [
            {
              label: "Взрослые",
              groupItemId: 1,
              textOneItems: 'гость',
              textTwoItems: 'гостя',
              textManyItems: 'гостей',
            },
            {
              label: "Дети",
              groupItemId: 1,
              textOneItems: 'гость',
              textTwoItems: 'гостя',
              textManyItems: 'гостей',
            },
            {
              label: "Младенцы",
              groupItemId: 2,
              textOneItems: 'младенец',
              textTwoItems: 'младенца',
              textManyItems: 'младенцев',
            },
          ],
        })

    +button({
      text: "Подобрать номер",
      classes: "button_filled_blue-green-gradient button_theme_arrow button_wide",
      type: 'submit',
    })