@import '@/theme/variables.scss';

.rate-btn {
  display: inline-flex;
  align-items: center;
  margin: 0 1px;

  &__star-item {
    display: block;
    width: calc_rem(20);
    height: calc_rem(19);
    background-image: url(img/star_border.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: 2px;
    outline: none;
    background-color: transparent;
    border: 0;
    box-shadow: none;
    cursor: pointer;

    &:focus {
      outline: dotted 1px;
    }

    &:active {
      outline: none;
    }

    &:disabled {
      cursor: default;
    }
  }

  @for $i from 0 through 5 {
    &__input {
      &[value^="#{$i}"] {
        @for $j from 0 through $i {
          & ~ .rate-btn__star-item[data-number-star="#{$j}"] {
            background-image: url(img/star.svg);
          }
        }
      }
    }
  }
}
