//-
  options.classes - Классы блока.
  options.id - ИД блока.
  options.value - Количество выделенных звездочек. Может принимать значение от 0 до 5.
  options.name - Название input (атрибут name).
  options.disabled - Отключение возможности выбора количества звезд.

mixin rate-btn(options)
  if !options
    - options = {}

  if !options.classes
    - options.classes = ''

  if !options.value
    - options.value = 0

  if !options.name
    - options.name = 'rate'

  div.rate-btn.js-rate-btn(
    class = options.classes,
    id = options.id ? options.id : false
  )
    input.rate-btn__input.js-rate-btn__input(
      type = "hidden",
      value = options.value,
      name = options.name
    )
    - for (var i = 1; i <= 5; i++)
        button.rate-btn__star-item.js-rate-btn__star-item(
          type = 'button',
          data-number-star = i, 
          disabled = options.disabled ? "disabled" : false
        )
